[2014-04-17 23:16] lcgraham opened #1 "Tangled Dimensions"
Currently the dimensions for samples in the parameter space (\Lambda) and samples in the data space (D) are:

param, lambda -- (ndim, num_samples)
data -- (num_samples, mdim)

We desire the dimensions of samples from both spaces to match (num_samples, dim). Possible modules this needs to be fixed in are:

adaptiveSampling
basicSampling
simpleFunP
calculateP
plot_D_2D

[2014-04-17 23:20] lcgraham opened #2 "Verify Calculate P"
The solutions, P, from prob,prob_samples_mc, prob_samples_qhull need to be compared to the solutions from the corresponding MATLAB codes Q_singleV, Q_singleVmc, and Q_singleVex (make sure the bin_sizes are equivalent). The bin_size in the MATLAB code is 1/bin_size in the Python code.

[2014-04-17 23:23] lcgraham opened #3 "Verify Calculate P"
Add a test to verify that prob_emulated(samples, data, rho_D_M, d_distr_samples) = prob(samples, data, rho_D_M, d_distr_samples)

[2014-04-17 23:52] lcgraham opened #4 "Port features from PolySim (adaptive_sampling)"
Port stable features from polysim.run_framework.adaptive_sampling into bet.sampling.adaptiveSampling. Eventually, the adaptive sampling module in PolySim should be completely removed and examples/data in hershel_bin/nonsubdomain/adaptive and the corresponding scripts in lonestar_landuse_bin should reflect this change.

[2014-05-06 19:15] lcgraham opened #5 "Invaild Divide"
BET/bet/calculateP/calculateP.py:262: RuntimeWarning: invalid value encountered in divide
  P[Itemp] = rho_D_M[i]*lam_vol[Itemp]/np.sum(lam_vol[Itemp])

[2014-05-30 18:43] lcgraham opened #7 "heurstics"
Properly reclass the heuristics in adaptiveSampling so that they all inherit from the heuristic class.

[2014-06-02 17:14] #7 closed, assigned to lcgraham

[2014-06-02 19:11] #5 closed, assigned to lcgraham

[2014-06-02 19:11] #1 closed, assigned to nobody

[2014-06-02 19:19] lcgraham opened #8 "Forward Problem"
Add forward problem capabilities and remove the references to a specific \D or \Lambda space and just say metric space.

[2014-06-02 21:22] #4 closed, assigned to lcgraham

[2014-06-02 21:29] lcgraham opened #9 "Write loadBalance, lbPADCIRC, etc."
Write model running rig that takes care of load balancing within a single TACC(or other HPC) job allocation. We should use mpi4py and maybe look into Pylauncher by TACC. This should take care of running both serial and parallel jobs in parallel. It might make sense to use GNU parallel (but it probably doesn't make sense). Pushkar is interested in this so we should include him.

[2014-06-02 21:36] lcgraham opened #10 "Documentation"
Write it.

[2014-09-30 20:35] lcgraham opened #11 "Renaming"
Change all references to "true" or "truth" to "reference"  i.e. "q_true" changes to "q_ref" and "heuristic" to "kernel."

[2014-09-30 23:44] lcgraham opened #12 "Add method to create uniform hyperrectangle"
Add way to create uniform hyperrectangle by just specifying the dimensions of that rectangle.

[2014-09-30 23:51] lcgraham opened #13 "Clean up calculateP"
eliminate unnecessary returns and collecting of lambda_emulate for prob at least.
make sure to not return inputs as outputs.

[2014-10-01 00:26] lcgraham opened #14 "clean up vis package"
make sure names for plotP and plotDomains match up with respect to function calls, same syntax

[2014-10-01 00:49] lcgraham opened #15 "create empty templates to run bet"
these templates should be for parallel and serial versions. make sure PolyADCIRC examples and other examples conform to these templates

[2014-10-01 17:07] #11 closed, assigned to lcgraham

[2014-10-01 17:58] #12 closed, assigned to lcgraham

[2014-10-31 19:59] smattis opened #16 "Dimensions flipped in adaptiveSampling"
In line 348 the data arrays are concatenated along the 0-axis, but it should be done along the 1-axis. This may mess up the fromMap example, so I didn't want to change it yet.

[2014-10-31 21:01] #16 closed, assigned to nobody

[2015-01-28 21:55] #13 closed, assigned to nobody

[2015-01-30 21:17] smattis opened #19 "Move things out of vis that shouldn't be there, like mpi4py stuff."

[2015-03-04 07:55] #19 closed, assigned to nobody

[2015-03-04 18:37] smattis opened #22 "Remake documentation"
The documentation needs to be remade.

[2015-03-04 20:19] #22 closed, assigned to nobody

[2015-03-06 00:19] smattis opened #26 "Big issues with changes parallelism"
Allreduce calculations for integers are all wrong. They are begin treated as numpy arrays of integers which is not giving an error but is doing something completely wrong. Should be switched to allreduce. Many parts of simpleFunP and calculateP are affected.

[2015-03-06 21:37] smattis commented on #26
Fixed with merge

[2015-03-06 21:37] #26 closed

[2015-03-06 21:51] smattis opened #28 "get rid of dimension dependency in voronoiHistogram"
There are many dimension-dependent calls of numpy.meshgrid in voronoiHistogram. We should use util.meshgrid_ndim to make things more robust.

[2015-03-06 23:05] scottw13 opened #29 "top_percentile=1.0 returns all samples, postTools.sample_highest_prob"
In postTools.sample_highest_prob, if you set top_percentile=1.0, it returns the correct volume of the region in Lambda, but it return num_samples= all samples.  It looks like this is because in line 63 postTools

num_samples = np.sum(P_sum <= top_percentile)

So Psum is always <= 1.0, and it returns all samples.  Maybe <= top_percentile - epsilon, or an

if top_percentile==1.0
    num_samples = nu

[2015-03-06 23:18] lcgraham commented on #29
Sounds good to me. I've fixed it and a few other things in a commit. I'll put in a pull request in a bit.

[2015-03-09 01:44] smattis commented on #29
This is fixed in the pull request that I just submitted.

[2015-03-09 03:08] #29 closed

[2015-03-09 03:09] lcgraham commented on #28
This is fixed in pull request #30

[2015-03-09 03:09] #28 closed

[2015-03-09 03:19] scottw13 commented on #29
Great.  Thanks Lindley.

Scott

On Sun, Mar 8, 2015 at 9:08 PM, Lindley Graham <notifications@github.com>
wrote:

[2015-03-09 03:21] lcgraham commented on #29
Don�t thank me. Steve fixed it.

Lindley Graham
lichgraham@gmail.com

On Mar 8, 2015, at 10:19 PM, scottw13 <notifications@github.com> wrote:

[2015-03-25 03:57] lcgraham opened #33 "Robustize center_pts_per_edge"
Check methods that use center_pts_per_edge. Update these methods so that the argument can be either an int or a list(). If the method receives a list check it to make sure the length matches the dimension of data. If the method receives a int, expand it into an appropriately sized array.

[2015-03-26 00:35] lcgraham commented on #33
Fixed in last merge #34

[2015-04-16 00:59] #3 closed

[2015-04-16 23:36] lcgraham commented on #33
Fixed ONLY in simpleFunP since voronoiHistogram method documentation explicitly calls for lists()

[2015-04-16 23:36] #33 closed

[2015-04-22 01:03] #14 closed

[2015-04-23 20:43] lcgraham opened #53 "Testing: plotP"
Tests for bet.postProcess.plotP fail when run in parallel.

[2015-04-23 21:00] lcgraham opened #54 "Testing: loadmat"
loadmat tests are failing in parallel with bet.sampling.adaptiveSampling and bet.sampling.basicSampling

[2015-04-23 22:20] #54 closed

[2015-04-23 22:20] lcgraham opened #55 "Testing: adaptiveSampling"
Need to make sure *.mat files from parallel and serial runs are getting properly removed in the tearDown method

[2015-04-27 17:27] lcgraham commented on #55
Will be fixed in pull request #51

[2015-04-27 17:27] #55 closed

[2015-04-27 19:51] lcgraham commented on #10
- update installation instructions (add list of dependencies to instructions)
- make sure documentation has instructions on how to run in parallel including example command line with mpirun in it

[2015-04-27 21:21] lcgraham commented on #10
I've added parallel.rst to the documentation which should cover using mpirun (see pull request #56). @smattis, can you make sure I didn't miss anything?

[2015-04-27 21:38] smattis opened #57 "make sure examples work"
Make sure examples work with changes to input and output arguments.

[2015-04-27 21:42] smattis opened #58 "Update version number in appropriate places"

[2015-04-27 21:42] smattis opened #59 "Put copyrights on tops of files."

[2015-04-28 00:14] lcgraham commented on #58
Based on quickly skimming some sources (http://semver.org/, stackoverflow) I would suggest we use major.minor.(revision/patch) (X.Y.Z). The current version number is 0.0.0 (in doc/conf.py and setup.py). based on the sites I referenced we've been technically operating at version 0.1.0. Thus, since we are now adopting a versioning system I will mark the current state of the master branch as version

[2015-04-28 00:26] lcgraham commented on #58
Also see https://help.github.com/articles/about-releases/

[2015-05-07 21:20] eecsu opened #61 "marginal plots"
Plotting 2d and then 1d (or reversing the order) marginals will combine the plots in the last saved files.

[2015-05-15 03:35] smattis opened #62 "plotDomains tests take too long to run"
Adjust the plotDomains tests so that they run in seconds instead of minutes.

[2015-05-15 16:19] lcgraham commented on #53
Fixed in merge #63

[2015-05-15 16:19] #53 closed

[2015-05-15 17:22] smattis commented on #61
Should be fixed with the release of v 0.2

[2015-05-15 17:25] lcgraham commented on #57
Should be fixed in pull request #64

[2015-05-15 17:26] lcgraham commented on #62
Should be fixed in pull request #64

[2015-05-15 17:26] #61 closed

[2015-05-15 17:35] #62 closed

[2015-05-15 17:35] #57 closed

[2015-05-15 17:36] lcgraham commented on #15
I think we've addressed this my providing various examples. Thoughts @smattis ?

[2015-05-15 17:46] smattis commented on #15
I agree.

[2015-05-15 17:46] #15 closed

[2015-05-15 17:58] #59 closed

[2015-05-15 18:18] lcgraham commented on #10
Should be fixed in merge #66

[2015-05-15 18:58] #10 closed

[2015-05-15 20:31] #58 closed

[2015-05-21 19:07] lcgraham opened #72 "Fix future warning for comparisions"
When checking to see if an object is None ``object == None`` use ``type(object) == NoneType`` instead.

[2015-05-28 21:04] #72 closed

[2015-06-02 02:03] smattis opened #76 "Possible bad parallelism in adaptiveSampling"
There is some troubling parallelism in adaptiveSampling.sampler.generalized_chains regarding all_step_ratios.  Especially the lines :
MYall_step_ratios = np.copy(all_step_ratios)
all_step_ratios = np.empty((self.num_chains, self.chain_length), dtype=np.float64)
comm.Allgather([MYall_step_ratios, MPI.DOUBLE], [all_step_ratios, MPI.DOUBLE])

In this process, all_step_ratios is being broadcast into a

[2015-06-02 17:27] lcgraham commented on #76
I accidentally pushed the resolution of this directly to the tests_and_parallel branch (see commit e5291d3dd0a33a763c502a4b401085cc1e3e58c4). I approve your fix for the case of no mpi4py. I noticed troubling parallelism in the collection of the samples and data arrays.

comm.Allgather was not correctly ordering arrays to match the ordering we prefer in bet.util.get_global_values. I added the use o

[2015-06-02 21:04] smattis commented on #76
This is better for samples and data for sure, but it doesn't address the initial issue.

There is still an issue with all_step_ratios. Doing:
MYall_step_ratios = np.copy(all_step_ratios)
all_step_ratios = np.empty((self.num_chains, self.chain_length), dtype=np.float64)
comm.Allgather([MYall_step_ratios, MPI.DOUBLE], [all_step_ratios, MPI.DOUBLE])

with mpi4py on 1 processor gives a different resul

[2015-06-03 00:38] lcgraham commented on #76
Maybe I am misunderstanding something. When I run the following code with mpi4py on 1 processor I get the same result for all the variations of creating all_step_ratios. When I run on more than 1 processor then single_all_step_ratios does NOT have the same order as the other versions of all_step_ratios, but the other versions of all_step_ratios have the same order which matches the ordering of sam

[2015-06-05 16:21] #76 closed

[2015-06-05 23:43] lcgraham opened #81 "PlotDomains"
Update plotDomains so that the dimensions of Q_ref (and similar variables) are automatically fixed if necessary. Automatically create a figs folder if it doesn't already exist and if a custom file name is not specified.

[2015-06-05 23:44] lcgraham opened #82 "Update install instructions"
Add nose as a dependency. Make sure the install documentation via Sphinx is up to date. Add note on how to run tests after installation.

[2015-06-05 23:51] lcgraham opened #83 "Update documentation of ADCIRC examples"
See todos in *.rst files.

[2015-06-07 22:59] lcgraham commented on #83
This will be resolved by pull request #80

[2015-06-08 20:21] #81 closed

[2015-06-08 20:21] #83 closed

[2015-06-08 22:24] #82 closed

[2015-06-09 15:50] lcgraham opened #88 "Copyright update"
Change copyright at the tops of files to "The BET Development Team" instead of "Lindley Graham and Steven Mattis".

[2015-06-09 16:16] lcgraham opened #90 "Tests_and_parallel"
@smattis is the tests_and_parallel branch ready for merging? If so want me to go ahead and merge it to master?

[2015-06-09 16:49] smattis commented on #90
No. It is not ready yet.

On Tue, Jun 9, 2015 at 11:16 AM, Lindley Graham <notifications@github.com>
wrote:

--
Postdoctoral Research Fellow
Institute for Computational Engineering and Sciences
The University of Texas at Austin

[2015-06-09 21:38] eecsu opened #92 "emulate_iid_lebesgue re-defines num_l_emulate incorrectly"
In line 35 of calculateP in the emulate_iid_lebesgue method:

num_l_emulate = int(num_l_emulate/size)+1

Apparently size comes from bet.Comm and is the number of processors used in the computation, so when this operation is called with only a single processor it creates 1 more emulated sample than called for by num_l_emulate parameter.

I came across this while creating the verification example to

[2015-06-09 21:56] smattis commented on #92
This is on purpose. It makes sense for all of the cores to have the same
number of emulated samples, so this guarantees that you have a number of
emulated samples such that it is at least as big as what you put in for
num_l_emulate and is a multiple of the number of cores you are running on.
Otherwise, you are not optimally using your computing resources. You can
add a few extra emulated points, w

[2015-06-09 22:01] lcgraham commented on #92
A minor change would be

[code]

[2015-06-09 22:02] eecsu commented on #92
Maybe a warning should be printed if the number changes. The issue I see is that someone will set a variable in a script (like I did) to be the number of emulated samples and call that in other places while using the emulated samples resulting in incorrect computations.

[2015-06-09 22:03] eecsu commented on #92
At worse, the result of my suggestion is that there is 1 more sample in some processors versus others, but these emulated samples never incur model evaluation cost, so this lack of optimal division of resources seems negligible to me.

[2015-06-09 22:12] smattis commented on #92
Then the best change would be to do:

[code]

[2015-06-09 22:14] eecsu commented on #92
I will put that change in along with some other changes I am making for a new pull request that will include the validation example.

[2015-06-09 22:16] smattis commented on #92
If you are doing that, then actually do:

[code]

[2015-06-09 22:17] lcgraham commented on #92
Excellent. I like the proposed change with the inclusion of a warning in the docString and a printed one if ``num_l_emulate%comm.size`` is nonzero.

[2015-06-09 22:18] smattis commented on #92
With what I propose above, this would not be necessary. The global number of emulated points is what the user specifies.

[2015-06-09 22:19] eecsu commented on #92
Steve is correct, the warning is not needed with this fix.

[2015-06-09 22:31] lcgraham commented on #92
Sorry, got it now.

[2015-06-10 03:03] #88 closed

[2015-06-10 03:03] #90 closed

[2015-06-10 03:03] #92 closed

[2015-06-12 22:49] #9 closed

[2015-06-19 03:12] lcgraham opened #107 "Add sensitivity package"
Finish creating sensitivity package. Create master-sensitivity branch from dev-sensitivity. Remove developmental code from master-sensitivity. Merge master-sensitivity into master. Update documentation. Release as version 0.3 or version 1.0 if all examples are finished.

[2015-06-30 21:17] #107 closed

[2015-07-01 20:35] smattis opened #118 "docstrings and comments lacking in plotDomains"
The docstrings are not very descriptive in plotDomains, and there are almost no comments. Variable names are not descriptive enough for not having commments. Also, default input arguments should be added to many of the functions.

[2015-07-02 04:46] lcgraham opened #119 "Bring dev up to date with master"
Merge master into dev without clobbering developmental portions of dev that differ from master. This is to keep dev in line with the current state of master since there were bugs/issues that were resolved with the addition of the sensitivity package to master.

[2015-07-02 06:17] lcgraham commented on #119
This will be fixed in pull request #117

[2015-07-02 21:55] smattis opened #120 "Links in example .rst files"
Change the links in the example .rst files to point to the github repo for the example rather than download the file.

[2015-07-04 21:45] #120 closed

[2015-07-07 00:16] lcgraham opened #124 "Add indicatorFunctions to master"
Add indicatorFunctions.py to master from dev branch. Create a class/set of methods that returns the indicator functions and their simple function approximations together since most of these methods take the same arguments. We can create a similar set up in sampling on the dev branch for the gradient based adaptive samplers.

[2015-07-08 21:12] #119 closed

[2015-07-10 03:39] lcgraham opened #126 "Update web documentation to reference sensitivity package"
Update parallel, overview, and examples to include information about sensitivity package.

[2015-07-10 04:10] lcgraham opened #127 "Update the version number in the documentation (and rebuild documentation)"

[2015-07-14 16:32] lcgraham opened #128 "Add hotstarting to adaptive sampling"

[2015-07-14 17:18] #126 closed

[2015-07-14 17:19] lcgraham commented on #126
Resolved in pull request #130

[2015-07-14 17:19] lcgraham commented on #127
This should be resolved in pull requests #131 and #132

[2015-07-14 19:30] #127 closed

[2015-07-16 19:22] lcgraham opened #138 "Change default colormaps in plotDomains so that they are colorblind safe"

[2015-07-16 19:23] lcgraham opened #139 "Add the ability to use arbitrary Ansatzes to calculateP"

[2015-07-17 20:25] JMeixner opened #141 "Typo"
We will "wailk" through the following example. This
http://ut-chg.github.io/BET/examples/example_rst_files/validation.html#validation

[2015-07-17 21:10] #141 closed

[2015-07-17 22:18] lcgraham opened #144 "Add ability to sort for low probablity tails"

[2015-10-16 16:07] #138 closed

[2015-10-16 16:07] #118 closed

[2015-11-17 17:31] #144 closed

[2015-11-17 17:31] #124 closed

[2015-12-01 21:57] smattis opened #151 "Backward compatibility broken in postTools"
Be careful with old code using postTools. Recent additions by @lcgraham break backward compatibility. I didn't realize this when I merged it in because the tests were rewritten for the new syntax. I am going to make this more user friendly, but I guess I'll follow the new form.

[2015-12-01 23:10] lcgraham commented on #151
I should have preserved backward compatibility. I'll try and take care of
this soon.

On Tue, Dec 1, 2015 at 4:57 PM Steven Mattis <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2015-12-01 23:18] smattis commented on #151
Actually, I'm already writing stuff assuming this version, so don't change it. This was meant to be kind of a warning if other people had issues. That's why I tagged as wontfix.

[2015-12-01 23:21] lcgraham commented on #151
Ah I was just reading it in e-mail and didn't see the wontfix tag.
Technically we should increase the version number since backward
compatibility was broken, but that seems excessive for such a small change.

On Tue, Dec 1, 2015 at 6:18 PM Steven Mattis <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2015-12-01 23:31] lcgraham commented on #151
NON-BACKWARD COMPATIBLE CHANGES:
Comm.py -- method calls changed to match mpi4py updates
postTools.py -- sort_by_rho size of returned tuple increased by 1

CHANGES TO TESTS:
NEW -- test_indicatorFunctions.py
ADDED (2) -- test_plotDomains.py
MOD -- test_postTools.py (modified to match sort_by_rho return tuple)
ADDED (1) -- test_postTools.py, sample_prob, sample_lowest_prob

On Tue, Dec 1, 2015 at 6

[2015-12-01 23:32] #128 closed

[2015-12-01 23:32] lcgraham opened #152 "Update documentation to include hotstarting"

[2015-12-03 16:17] #152 closed

[2016-03-21 20:15] lcgraham opened #155 "Update print/logging"
Remove print statements and create log files.
Add warning and options (verbosity) for log files. Use a logging  module.
Updating warnings when certain algorithmic options occur, e.g., re-normalizing the probability measure because positive probability was assigned to an output event that was not approximated by a contour event. This can be detected at the point of constructing the io_ptr and we ma

[2016-03-21 20:16] lcgraham opened #156 "Add alternate to kdtree for nearest neighbor searches"
Non-recursive alternatives to kdtree. This has serious issues in some pretty common scenarios that users are likely to encounter.

[2016-03-21 20:18] lcgraham opened #157 "Add alternate (p >= 1) norms to Voronoi cells"
Update certain Voronoi approximations to allow for different metrics to be used for nearest neighbor.

[2016-03-21 20:19] lcgraham opened #158 "Upgrade adaptive sampling"
Adding adaptive sampling features that exploit gradient information. I think this may be the lowest hanging fruit in terms of creating a paper that follows directly from the paper we just submitted to SISC.

[2016-03-21 20:20] lcgraham opened #159 "Additional examples"
New examples to put in that show off more aspects of the code including the sensitivity analysis and choosing QoI. For example, I have a fun example of simulating the cooking of a t-bone steak that I could put into the examples where one of the fundamental questions is to determine where in space-time to place meat thermometers in order to reduce uncertainties in the thermal conductivities of bone

[2016-03-21 20:25] lcgraham opened #160 "Add truncated Voronoi cells"
Update certain Voronoi approximations to provide a cut-off distance (or directed distances) in a particular metric (thus defining a "cover" of any Voronoi cell by a simpler box defined by distance(s) and metrics). This can be used to speed up nearest neighbor searches since comparisons would not even need to be made with respect to samples that are farther away than the cut-off distances. It is ve

[2016-03-21 20:45] lcgraham opened #161 "Add iterated Ansatzes"

[2016-03-21 21:36] eecsu commented on #160
Using gradients to define the scaled boundary box by
\[
(x - g)^\top diag(\abs{\nabla q}) (x-g) \leq \text{bd. tol.}
\]

[2016-03-22 17:58] lcgraham opened #163 "Allow user to specify filetype for plotting"
Add a file_type or flle_extension argument to plotting methods.

[2016-03-22 20:10] lcgraham opened #165 "Update docstrings for attributes"
Update classes so that attributes are properly commented as below::

    class Foo:
        """Docstring for class Foo."""

        #: Doc comment for class attribute Foo.bar.
        #: It can have multiple lines.
        bar = 1

        flox = 1.5   #: Doc comment for Foo.flox. One line only.

        baz = 2
        """Docstring for class attribute Foo.baz."""

        def __init__(self):

[2016-03-22 20:25] lcgraham commented on #163
Associated tests need to be updated.

[2016-03-22 22:32] lcgraham opened #167 "Update examples for v2"

[2016-03-22 23:14] #151 closed

[2016-03-28 18:08] lcgraham opened #175 "Improve estimating volume"
Add randomization option to estimate_volumes to improve kdtree efficiency

[2016-03-30 22:53] #157 closed

[2016-03-30 23:10] lcgraham opened #176 "Update tests for new sample.py methods"
copy, save, load, update_bounds, update_bounds_local

[2016-03-31 18:30] lcgraham commented on #176
Fixed in commit 9e5b79853e722f64236bc79bb7afa34dfde0964d

[2016-03-31 18:30] #176 closed

[2016-04-19 21:26] smattis opened #178 "Add discretization type for sample object"
I am finally having time to work on my side of version 2, and I was thinking that for sample objects we should have a discretization type. Right now, we are kind of assuming all sample objects are Voronoi tesselations. Especially for defining output probabilities sample objects we don't always want to deal with Voronoi tesselations. I would propose we add at least 2 more:
- Cartesian grids (where

[2016-04-19 23:09] lcgraham commented on #178
Would you propose a sample_set base class from which cartesian_sample_set, voronoi_sample_set, and ball_sample_set all inherit? We would then add an additional method called query(x, p) for the sample_set object, where x is a numpy array and 0<p<=infinity. In this configuration voronoi_sample_set would have still get/set methods for kdtree, but there would also be a query(x, p) method. Currently,

[2016-04-20 19:57] smattis commented on #178
Yes, I think we have a sample_set base class that they all inherit from. I like your idea for the query function. I will work on doing that.

ball_sample_set is kind of like that in issue #160, and yes, it would be defined with a radius and a norm. We could also add an ability to scale different dimensions.

Yes, I agree that topologically a cartesian grid is just a bunch of balls, but I don't thi

[2016-04-20 20:45] lcgraham commented on #178
I agree that grid_sample_set should not inherit from ball_sample_set since query would be completely different. Sounds like a good plan.

[2016-04-26 18:34] lcgraham commented on #178
I think the "distance_upper_bound"  [`KDTree.query(x, k=1, eps=0, p=2, distance_upper_bound=inf)`](http://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.KDTree.query.html) option is an already implemented version of what we are looking for in ball_sample_set. This were we would supply the radius.

[2016-04-26 18:44] lcgraham commented on #158
We might want to look into using [`query_ball_tree(other, r[, p, eps])`](http://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.KDTree.query_ball_tree.html#scipy.spatial.KDTree.query_ball_tree) to identify new generating points for adaptivitiy.

[2016-05-04 21:32] lcgraham opened #183 "Exceptions"
Check what is the best practices and if recommended then put them all in a separate class.

[2016-05-05 20:24] lcgraham commented on #175
http://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.random.shuffle.html

[2016-05-10 20:56] lcgraham opened #185 "Parallel Examples"
Parallel-Serial and Serial-Serial Example (BET-Model)
-----------------------------------------------------------------------
parallel = True (flag in basicSampling)
Create a simple "dummy" serial python model that reads in *.mat and outputs *.mat. Write a simple script that demonstrates banging out to shell using something similar to

[code]

where input_file_name and output_file_name are determi

[2016-05-10 22:23] eecsu opened #186 "Changes to basicSampling.py for streamlining sampling parts of code."
We should now get rid of the emulate functions in calculateP and just call the random_sample_set function. (Maybe in a mild iteration to v2.0 when we clean up redundancies like with the exceptions raised among different files that should be all located within one overarching exceptions module).

[2016-05-11 20:51] lcgraham commented on #178
This might also be useful http://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.Rectangle.html#scipy.spatial.Rectangle

[2016-05-12 00:55] lcgraham commented on #185
First draft is at 9dd6f56 serial_serial.py works all others need to be tested.

[2016-05-12 22:58] #163 closed

[2016-05-12 23:02] #165 closed

[2016-05-12 23:04] #2 closed

[2016-05-13 01:11] smattis opened #189 "Running tests in parallel for saving discretizations fails"
Where it is freezing on the CI builds when running the tests in parallel also freezes up my machine.

[2016-05-13 15:06] smattis commented on #178
In the next few days, I will be doing another pull request to v2_master adding new types of sample sets.

[2016-05-17 00:36] smattis commented on #189
@lcgraham A bunch of tests in `test_sample` and `test_basicSampling` and `test_adaptiveSampling` fail in parallel. In #190, I have commented out each of these tests and put a TODO for you. You should fix these, and after #190 is merged, you should do a pull request with tests that work. After #190 is merged, all tests in v2_master should be passing, and we should keep it that way for future pull r

[2016-05-17 00:54] lcgraham commented on #189
Thank you I'll take care of them after #190 is merged. Sorry I didn't catch them earlier

[2016-05-17 15:38] #189 closed

[2016-05-17 16:36] lcgraham commented on #183
Combining this with issue #155

[2016-05-17 16:36] #183 closed

[2016-05-17 16:36] lcgraham commented on #155
https://docs.python.org/2/howto/logging.html#logging-basic-tutorial
https://docs.python.org/2/howto/logging-cookbook.html#logging-cookbook
https://gist.github.com/JohnCEarls/8172807
https://github.com/jrs65/python-mpi-logger/

[2016-05-17 20:23] lcgraham commented on #167
Update to use logging [see logging from multiple modules](https://docs.python.org/2/howto/logging.html#logging-from-multiple-modules)
All print statements within the source have been changed to appropriate logging commands

See #192

[2016-05-17 20:28] lcgraham commented on #155
Serial logs work. There probably needs to be additional work done for logging with mpi4py

[2016-05-17 23:49] smattis commented on #155
Maybe only log if comm.rank==0 ?

[2016-05-18 15:32] lcgraham commented on #155
Maybe, but there might be situations where you want to know what each processor is up to since they sometimes do different things. There are a couple of mpi logging implementations using mpi4py that I've linked above, but I don't think adding the mpi logging need to be taken care of immediately.

[2016-05-18 19:12] lcgraham opened #193 "Localized volume emulation"
Localized volume emulation on an arbitrary Lp nD-ball. @smattis I'm currently implementing this, but I know you've been working on something similar w.r.t. estimating the diameter of and determining neighboring Voronoi cells for the error estimation paper. I'm using this to try and eliminate some dimensional dependence I'm seeing for integration. This will also be helpful for adaptive integration

[2016-05-18 19:14] lcgraham commented on #193
This is related to #160 so I might want to close this and put my note over on that issue.

[2016-05-20 00:18] lcgraham commented on #160
This ``truncated_voronoi_sample_set`` should be a subclass of ``voronoi_sample_set`` (see #178) with the additional attributes ``self._radii`` and ``self._normalized_radii`` where``self. _normalized_radii`` is the radii of the Voronoi cell when ``self._domain`` is normalized to the unit ball. If gradients are present these should be able to be set with ``self.set_normalized_radii()`` and ``self.se

[2016-05-20 14:34] lcgraham commented on #193
@eecsu I need to do some experiments to see if this reduces the dimensional depence I'm seeing. Also this will work better with better estimates of the Voronoi cell radii

[2016-05-23 03:28] eecsu opened #196 "general simpleFunP needed"
We should add a general simpleFunP such as

def user_discretization_user_distribution(data_set, output_probability_set, output_probability_emulated_sample_set)

Or something like the above. Basically this will handle all of the cases we currently do not have in the code. The user will generate an output_probability_set containing the sample_set (or discretization object) that discretizes the data

[2016-05-23 19:38] #193 closed

[2016-05-24 18:41] lcgraham commented on #196
I like this idea.

[2016-05-24 19:03] lcgraham commented on #167
Currently, ``validationExample``, ``nonlinearMap``, ``linearMap``, ``contaminantTransport``, and ``FEniCS`` examples are up to date. @scottw13 are the ``sensitivity`` examples up to date?

None of the examples use logging.

[2016-05-24 19:04] lcgraham commented on #196
This will be marked as closed once #195 is merged.

[2016-05-24 19:06] lcgraham opened #198 "Update documentation for v2"
Double check docstrings for API and update hand written ``*.rst`` files in ``doc`` and ``doc/examples``.

[2016-05-24 21:55] scottw13 commented on #167
They are not...  they need some attention.  I should be able to get them in
good shape sometime next week.

Scott

On Tue, May 24, 2016 at 1:27 PM, Lindley Graham <notifications@github.com>
wrote:

[2016-05-25 00:13] eecsu opened #199 "plotP updates for parallel"
computing 2d or 1d marginals in parallel results in plots of densities that integrate to the number of processors used not 1. This needs to be fixed if people want to make use of "raw" non-smoothed marginal plots that are generated in parallel.

[2016-05-25 00:14] eecsu opened #200 "plotP check types"
Will get an error if a voronoi sample set is used for plotting, but this should just be treated like a regular sample_set.

[2016-05-25 14:59] #196 closed

[2016-05-25 18:00] lcgraham opened #202 "v2 Beta Release"
@eecsu thinks that we are ready for beta. Once Issues #200 are #199 resolved I think we are ready to merge this branch into master. We can then release it as v2.0.beta Then the remaining issues that are required for the Version 2.0 can be continuously integrated. Thoughts?

[2016-05-25 18:06] lcgraham commented on #159
See #195

[2016-05-25 18:06] #159 closed

[2016-05-25 18:57] eecsu commented on #202
@lcgraham I agree, and are you taking on these issues? I see you assigned #200 to yourself and it looks like the pull request fixes it. I have to go run an errand, can you take on #199 as part of the same pull request?.

[2016-05-25 19:24] lcgraham commented on #202
I'll look into it.

On Wed, May 25, 2016 at 2:57 PM Troy Butler <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2016-05-25 20:10] lcgraham commented on #199
In version 1.0 both ``calculate_1D_marginal_probs`` and ``calculate_2D_marginal_probs`` were both created to work with the results for ``calculateP.calculateP.prob_emulated`` the result of which is a localized ``P`` on ``lambda_emulated``. This way we never have to globalize ``P`` even when we want to create marginals for plotting results.

When ``calculate_1D_marginal_probs`` and ``calculate_2D_m

[2016-05-25 21:30] #200 closed

[2016-05-25 21:30] #199 closed

[2016-05-25 22:19] eecsu commented on #202
Do you want to do the honors of merging into master now and creating the v2.0.beta?

[2016-05-26 01:09] smattis commented on #202
Hi. I agree that we are ready for v2 beta. I will review #203. Sorry I've been a little out of the conversation the last couple of days. As Lindley knows, I had to travel at the last minute for my grandfather's funeral.

[2016-05-26 01:33] eecsu commented on #202
Hi Steve,

I am really sorry to hear that your grandfather passed away.

Sincerely,
Troy

On Wed, May 25, 2016 at 7:09 PM, Steven Mattis <notifications@github.com>
wrote:

[2016-05-26 14:45] #202 closed

[2016-05-26 17:45] eecsu opened #206 "Update plotDomains"
Should accept either discretization or sample_set objects and plots appropriate sample_set values based on name of plot function called if given a discretization object instead of a sample_set object.

Need to clean up the naming convention as well and optional keyword arguments to be consistent across all functions (some take img_folder but others do not). Some functions are named scatter2D* whil

[2016-05-26 17:54] eecsu opened #207 "Updates to calculateP and logging"
Perhaps user should just call ``prob`` instead of ``prob_mc``. If the volumes are ``None``, then ``prob_mc`` is called and a warning is logged that a standard MC assumption on the volumes was used because no volume estimates were detected in the ``sample_set``. Less knowledge of the different functions is required by the user in this case.

In the updated examples, I was explicit about the standar

[2016-05-26 17:57] eecsu opened #208 "Extract desired sample_set from discretization in sample.py"
Just like we have ``get_values``, ``get_volumes``, and ``get_probabilities`` in a ``sample_set``, we should also have a ``get_input_sample_set``, ``get_output_sample_set``, ``get_output_probability_set``, etc. in the ``discretization``. This is useful for plotting/study/analysis of a specific sample set of interest. Right now, we generally would only see the ``input_sample_set`` constructed as a s

[2016-05-29 23:58] scottw13 commented on #167
In sample.py the method check_num() checks that

input_set._jacobian.shape[0] == input_set.shape._values.shape[0]

But in my examples I do not have the jacobians at every samples, so
_jacobians does NOT have the same length as _values.

How should we fix this?  Maybe jacobians shouldn't be checked here.  Maybe
I should make _jacobians have the same shape[0] as _values, but fill
entries that I dont

[2016-05-30 00:50] lcgraham commented on #167
If I remember correctly you only have Jacobians at the center of point clusters. What about returning a sample set that only has the values for centers since you create and need the Jacobians at all the centers? Or if a full sample set is not needed and only the indices of the optimal QoI then how about returning just the indices?

[2016-05-30 03:27] scottw13 opened #210 "Multi criteria choose QoI"
Add a method for the multi criteria Optimal Experimental Design.  Add tests and examples with the heatplate data to show the functionality.

[2016-05-30 03:38] scottw13 opened #212 "shape of _jacobians not consistent"
In the linear sensitivity examples the _jacobians.shape[0] != _values.shape[0] because we only approximate jacobians at the centers, not at all of the samples.  Maybe work with a input_samples_centers sample_set tofix this issue.  Right now I just set _jacobians to None when I am don with them...

[2016-05-30 04:20] scottw13 opened #213 "update / add new .rst files for sensitivity"
update / add new .rst files for sensitivity

[2016-05-30 20:24] lcgraham commented on #212
I think this would be solved by modifying gradients.py by 1) either take as an argument an input set or a discretization object, if there is a method takes both an input set and an output set it should be modified to only take a discretization; 2) all outputs should either be sample_set objects, discretization objects, or nothing instead of arrays; 3) if a method calculates gradients for a set of

[2016-05-30 20:33] scottw13 commented on #212
That all makes sense.  Ill look at the other subpackages and make these changes.

[2016-05-30 20:59] lcgraham commented on #212
Excellent!

[2016-05-31 19:21] lcgraham commented on #213
See #198

[2016-06-01 00:32] lcgraham commented on #212
Once #209 is merged then only the sensitivity examples need to be updated.

[2016-06-01 18:55] #212 closed

[2016-06-01 18:55] #208 closed

[2016-06-07 12:47] smattis commented on #207
Right now `prob` assumes volumes are already calculated and `prob_mc` uses volume emulation from a user-defined emulated sample set. I think we still want both of these options. Maybe for `prob`, if no volumes are defined we should use the mc assumption and give a warning. Should we rename `prob_mc` to `prob_emulate_volumes` or something?

[2016-06-07 14:02] lcgraham commented on #175
This issue is obsolete since we have specific implementations of query for different types of `bet.sample.sample_set_base` objects

[2016-06-07 14:02] #175 closed

[2016-06-07 14:04] lcgraham commented on #207
I vote `prob`, `prob_with_emulated_volumes`, and `prob_on_emulated_samples`

[2016-06-07 15:20] lcgraham commented on #185
These should be updated to match the FEniCS examples and/or to use Popen or mpi4py spawn.

[2016-06-07 21:46] lcgraham commented on #185
Need to be updated to use ``os.system``

[2016-06-09 13:19] lcgraham commented on #206
Modify plotDomain calls:
- `show_param(sample_disc, rho_D, p_ref, sample_nos, save, interactive, lnums, show dim)`
- `show_data(sample_obj, rho_D, Q_ref, sample_nos, save, interactive, Q_nums, show dim)`
        - combine show_param and show_data and add a flag for either input/output if given a discretization object
        - rename ``scatter_rhoD``
- `scatter_param_multi(sample_obj, img_folder,

[2016-06-14 23:10] #185 closed

[2016-06-14 23:12] #206 closed

[2016-06-14 23:13] #186 closed

[2016-06-15 00:28] mpilosov opened #217 "simpleFunP, vHist"
the last few lines of ```voronoiHistogram``` ( in ```voronoiHistogram.simple_fun_uniform``` ) read as follows:
[code]

Then simpleFunP.regular_partition_uniform_distribution_rectangle_size ends with (line 361-3):
[code]
but the method ```set_output_probability_set()``` in the ```discretization``` object wants a ```sample_set_base``` type input argument, not a ```voronoi_sample_set``` type.

This o

[2016-06-15 00:42] mpilosov commented on #217
Okay so the culprit ended up being these compilation issues I've been running into wherein the built version doesn't really work unless I maybe go into a file, add in a whitespace somewhere in a function that caused an error message, save the file, and run setup.py install again.
I've run into this a lot, and it caused the issue above. As if it were looking at an older version of the modules inste

[2016-06-15 00:44] mpilosov commented on #217
PS line 103 in calculateP seems unnecessary.

[2016-06-15 01:22] smattis commented on #217
`voronoi_sample_set` is a set of type `sample_set_base` so that is not a problem.

Do you have the environment variable `PYTHONPATH` set somewhere in some older version of BET? Are you sure you are using the same python to build and run the code?

Whitespace in the docstring like that within line 103 in calculateP is not really an issue.

[2016-06-15 01:39] mpilosov commented on #217
sorry was looking at an older version. few lines down. discretization.check_nums() is what I was referring to. line 75 is the one I meant in the latest master. the whitespace wasn't in docstrings. I would add a space after a comma or something in a function definition and then save and recompile to make things work.

python is the same throughout.

it also appears all the work I've done today gett

[2016-06-15 03:02] lcgraham commented on #217
@mpilosov, both linear_skewness_binratio.py and linear_measure_binratio.py run for me. When you fetched from upstream did you also [merge](https://help.github.com/articles/syncing-a-fork/) before re-installing?

[2016-06-15 03:02] smattis commented on #217
discretization.check_nums() is actually very important. It runs a check to make sure all dimensions are correct and raises an exception if they are not.

I can run the `linear_skewness_binratio.py` perfectly fine with the current version of master. Are you running on your fork?

[2016-06-15 03:22] lcgraham commented on #217
Yes, making sure to keep informed of changes to the code is important when you're planning on tackling an issue or adding new functionality especially during a large refactoring like now. Most of the discussion regarding issues/updates to the code happens in the [issues](https://github.com/UT-CHG/BET/issues) section, but a good quick visual check of the various [forks](https://github.com/UT-CHG/BE

[2016-06-15 03:24] mpilosov commented on #217
steve - thanks, I see that now. I was only looking at the output of check_nums()
I did merge before reinstalling, yes.
I just re-performed
[code]
and received "Already up-to-date' as a response.
Then I ran
```python setup.py install``` and saw "Finished processing dependencies for bet==2.0.0-beta" as a response.
```nosetests``` ran smoothly.
```python examples/sensitivity/linear/linear_skewness_bi

[2016-06-15 03:27] mpilosov commented on #217
I mean, should I just delete what I have (saving my contributions elsewhere, most of them are deprecated now anyway) and re-fork... try this again from scratch?

[2016-06-15 03:46] lcgraham commented on #217
You can use git diff to compare branches/files/etc. What I think is happening is that you've made some changes in this branch which do not conflict with the changes on the master. However, these changes cause your local branch (and the branch on your fork) to differ from the master branch of the upstream repo. If you want to keep the changes you've made and work on this same branch you should prob

[2016-06-15 16:00] lcgraham commented on #160
Note that these are not centroidal Voronoi tesselations meaning that the centroid is NOT the generator of the Voronoi cell. What we desire for the radius is actually :math:`sup_{\lambda \in \mathcal{V}_{i, N}} d_v(\lambda, \lambda^{(i)})`

[2016-06-16 16:59] lcgraham commented on #217
@mpilosov is this resolved? If so please close the issue. Thanks.

[2016-06-16 18:43] mpilosov commented on #217
Yes. Thanks so much for your help!

[2016-06-16 18:43] #217 closed

[2016-06-20 04:07] mpilosov opened #221 "BET/examples/linearMap/linearMapUniformSampling.py"
There appears to be an issue with calling ```sampler.random_sample_set``` on an ```sample_set``` object in that it doesn't write to the sample object that's passed in unless explicitly declared as output.
This can be seen by running the example in the title of this issue using ```ipython``` and looking at the memory locations of the input_samples variable and the output of the ```random_sample_set

[2016-06-20 04:36] lcgraham commented on #221
We decided to not alter the 'input_obj' in place but rather return a new 'sample_set' object as a design choice. This is so that the user can create multiple sample sets and discretizations using different sampling techniques without overwriting the input. You should update the example and create a pull-request.

[2016-06-20 04:45] lcgraham commented on #167
Apparently examples are no longer up to date and need to be rechecked.

[2016-06-20 04:46] lcgraham commented on #167
@eecsu can you submit a pull-request with the examples that you've updated? If I recall correctly you've made significant changes which haven't been pulled in yet.

[2016-06-20 05:33] mpilosov commented on #221
Perfect! That makes a lot of sense. Thank you for the explanation. I will do that. I hope I get the pull request right, bear with me if I don't, please. =)

[2016-06-20 12:01] lcgraham commented on #221
This should remain open till #222 is merged.

[2016-06-20 14:20] mpilosov commented on #221
So just to clarify, this issue comes up in two files
```examples/linear/linearMapUniformSampling.py``` and ```examples/nonlinear/nonlinearMapUniformSampling``` so I have made the change in those two places. I wasn't messing around with whitespace in those at all.
Furthermore I changed the ```myModel.py``` file in examples/linear/ because it had a typo with two variable assignments ```QoI_samples =

[2016-06-20 15:02] #221 closed

[2016-06-20 17:29] eecsu opened #224 "file_extension in plotDomains functions not being used"
The input `file_extension` is not being used in many functions. Specifically, it is not getting passed from one function to another so that the default png is often being used even if an eps is specified.

[2016-06-21 19:46] lcgraham commented on #167
Note that recent pull-requests have updated examples.

[2016-06-21 19:59] eecsu commented on #167
Yeah, I am working with Pilosov on these. He is getting the hang of BET
now. I have some other things to do with the FEniCS example in order to use
launcher, and also do the KL stuff just once. Should have some time to
clean this all up in the next two days. Will also get to your pull request
soon.

On Tue, Jun 21, 2016 at 1:46 PM, Lindley Graham <notifications@github.com>
wrote:

[2016-06-21 20:17] lcgraham commented on #167
Sounds great. Thanks for the update!

[2016-06-22 21:39] mpilosov commented on #139
Just to clarify, is this still true or does the sample object's ```probabilities``` attribute take care of this?
From my glance at calculateP (very early stages of learning to read code written in parallel), it seems like this is no longer an issue.

[2016-06-22 21:43] mpilosov commented on #161
One of the things I'll be doing as part of thesis work (months down the line after I wrap up the masters) is exploring the differences between inverting lambda_dim QoIs simultaneously and inverting sequentially using one at a time, passing the posteriors as ansatzs to the following inversion. Is this type of procedure what this issue is referring to or is it something else? Could you please clarif

[2016-06-22 21:47] mpilosov opened #227 "sample.py: provide option to use emulated_sample_set in estimate_volume"
This limitation is documented here: http://ut-chg.github.io/BET/bet.html#bet.sample.sample_set_base.estimate_volume
and is an enhancement I could personally use. I would be willing to tackle it, but I could use advice about the parallelized part of the code.
PS typo in description of estimate_volume: "faction" instead of "fraction"

[2016-06-22 22:26] lcgraham opened #228 "Update inheritance"
Make sure that child classes are using the proper super methods, especially for initialization. The way things are currently written works, but we should be using `super(my_class_name, self).__init__(*args)` or ``super(my_class_name, self).method_name(*args)`.

[2016-06-22 22:37] lcgraham commented on #227
I think this can be solved by adding new methods to both `sample_set_base` and `discretization`:

    sample_set_base.estimate_volume_emulated(emulated_sample_set)
    discretization.estimate_input_volume_emulated(self)
    discretization.estimate_output_volume_emulated(self)

Before adding the second two methods `bet.calculateP.simpleFunP` should be checked to prevent redundancy.

[2016-06-22 22:40] smattis commented on #227
`calculateP.prob_mc` (which needs to be renamed when I have chance) does calculate volumes from emulated points

[2016-06-22 22:47] mpilosov commented on #227
@smattis I'm taking a second look at that function and it appears that in order for it to be used, one must first use ```set_emulated_input_sample_set```
whereas what I was thinking is that if a user calls ```estimate_volume``` with some (potentially large) number of samples, why aren't those samples written to ```emulated_input_sample_set``` since we generated them anyway? Or on the flipside, if

[2016-06-22 23:44] #224 closed

[2016-06-23 13:11] lcgraham commented on #161
That is the type of procedure this issue is referring to.

[2016-06-23 14:22] lcgraham commented on #139
This is still true. The standard ansatz is used in all of the ``prob`` methods in ``bet.calculateP.calculateP`` as the line:

    P[Itemp] = discretization._output_probability_set._probabilities[i]/Itemp_sum

 and :

    P_local[Item] = discretization._output_probability_set._probabilities[i]*discretization._input_sample_set._volumes_local[Itemp]/Itemp_sum``

[2016-06-23 14:36] lcgraham commented on #227
@smattis true, and if you want to use those emulated points for another set of input samples then you can just create a new discretization and copy them over. I'm thinking of the case where you might want to use the same emulated points to estimate volumes for different sample sets. I'm going to propose a pull-request with a proposed modification...

@mpilosov Those samples aren't written to ``emu

[2016-06-23 22:47] lcgraham commented on #139
I think this could be done by using the emulated input sample set appropriately.

[2016-06-23 22:49] lcgraham opened #230 "Parallelization in simpleFunP inconsistent"
I think the parallelization in `bet.calculateP.simpleFunP` is inconsistent with the way things are parallelized in `calculateP` and `sample.py`. The current implementation gives correct answers, thus it passes the tests, but I think the implementation should more closely match that of `calculateP` and `sample.py`. Notably, `num_d_emulate` is interpreted as the number of emulated samples per proces

[2016-06-23 22:53] eecsu opened #232 "Scatter plots of QoI and parameter samples"
Using scatter_2D and scatter_3D as the base, we should just have functions

scatter_2D_parameters
scatter_2D_data
scatter_3D_parameters
scatter_3D_data

that simply call the base functions. They should all read in either sample_obj or sample_discretization and if the sample_discretization is called, then the correct sample_obj is extracted from the discretization object and sent to the correct sca

[2016-06-23 23:06] lcgraham commented on #232
I think these methods should be renamed input/output instead of parameters/data. Also I think they only make sense for discretization objects. Does scatter_rhoD not provide the functionality you're looking for?

[2016-06-24 01:09] eecsu commented on #232
The eps also didn't work for the rhoD but mainly just looking for simple
functionality. I like your naming suggestions.
On Jun 23, 2016 5:06 PM, "Lindley Graham" <notifications@github.com> wrote:

[2016-06-24 01:35] lcgraham commented on #232
Oops, I'll fix it and add a note to the documentation that you can specify the file extension in either the file name or the by using the file extension but not do both.

[2016-06-24 01:39] lcgraham commented on #232
Right now the default file extension is png in plotDomains and eps in plotP. I need to update it so that it's a blank string and specify that you need to put ".extension_abreviation" to specify or add one to the file name, but not both.

[2016-06-24 01:57] lcgraham commented on #232
By the way, difference in the calls would be 'scatter_2D(stuff, my_disc.get_input_sample_set(), more_stuff)' vs. 'scatter_2D_input(stuff, my_disc, more_stuff)'. Plus if you wanted to plot any of the emulated samples you'd need to do the first call anyways.

[2016-06-24 04:28] smattis commented on #230
I agree that it should be cleaned up a bit; however, I wouldn't not call this a bug.

[2016-06-24 04:36] #207 closed

[2016-06-24 04:36] #227 closed

[2016-06-24 04:41] smattis commented on #228
It's a difference of "new-style" python and "old-style." I actually prefer old-style because I think it looks cleaner and requires less code, but we should be consistent.

[2016-06-24 14:36] #178 closed

[2016-06-24 16:01] lcgraham commented on #167
@eecsu, @mpilosov when this is done feel free to close the issue.

[2016-06-24 21:44] #228 closed

[2016-06-25 21:56] eecsu commented on #167
I have updated the documentation for the linear, nonlinear, validation, and both FEniCS examples.

For the examples others wrote, they may want to update in a similar style that breaks down according to steps like how I did it.

On the gh-pages, if you access an example through the "List of all examples" on the side panel, then this creates a table of contents for easy navigation through the steps

[2016-06-28 00:09] eecsu commented on #230
Are you sure ``num_d_emulate`` is interpreted as the number of emulated samples per processor? In all functions where it is an actual input, I eventually can find an instance of ``num_d_emulate = int(num_d_emulate / comm.size) + 1`` which would mean that the input is actually the global number of emulated points, which is then distributed into smaller chunks among the the processors via the ``d_di

[2016-06-28 01:20] lcgraham commented on #230
@eecsu You're right. It is actually the global number of emulated points. It would be good to update it though so that ``num_d_emulate`` is not rounded to the nearest whole number multiple of the number of processors.

[2016-06-28 05:20] eecsu commented on #230
@lcgraham You want to use modulo arithmetic? We could do that.

The other part you suggested involving using ``_values_local`` and ``global_to_local`` are less clear to me. We need each processor to have a fully copy of the partitioning points in the data space, but each only needs a portion of the emulated points to bin into the implicit cells defined by the partitioning points. I guess what happ

[2016-06-28 14:10] lcgraham commented on #230
Yes, I'd like to use modulo arithmetic.

You can ignore the part about `_values_local` and `global_to_local` since the main goal is conformity. I was thinking there was a way to increase the parallelism, but it doesn't make sense.

[2016-06-28 15:47] #232 closed

[2016-06-28 18:29] smattis commented on #230
I agree that it should be done in the same way that we handle integration for volume emulation. I'll assign myself since I worked on simpleFunP.

[2016-06-29 03:20] eecsu opened #239 "calculate marginals not working -- bug in histogramdd (I think)"
Hey @lcgraham and @smattis, I am working with @mpilosov and we think that numpy's ``histogramdd`` is buggy. We are seeing some pretty bad incorrect binning. I think we should replace this with nearest neighbor searches like we have elsewhere in the code. Just provide a sample_set of the bin centers and then create a bin_ptr to compute the marginals. At least we know this works. The current binning

[2016-06-29 14:08] smattis commented on #239
Can you produce an example where the binning appears to be wrong?

On Tue, Jun 28, 2016 at 10:20 PM, Troy Butler <notifications@github.com>
wrote:

--
Postdoctoral Research Fellow
Institute for Computational Engineering and Sciences
The University of Texas at Austin

[2016-06-29 14:47] mpilosov commented on #239
I have one that is perhaps unnecessarily complex in my fork of BET under examples/estimateDist/run_est.py
I am working on a much simpler one but so far can't quite get it and have a workshop to attend this morning so I won't be able to work on it until the afternoon. If you want to try the current example, read on.

Check out the print-out that shows up and scroll to the top of it. Compare the 3x3

[2016-06-29 15:28] mpilosov commented on #239
phew. right in time for my workshop, I got a simple script working.
Check out ```histogram_test.py ``` in the recover branch on my fork. It's the only file you'll need to run to see the problem. I use an identity map so that the inverse problem is truly trivial.

I don't know what's standard operating procedure here, so apologies if this is in bad taste, but here's my code pasted so you don't even

[2016-06-29 17:33] eecsu commented on #239
I think I figured this out thanks to Varis pointing out an error in basic
arithmetic of dividing the domain into uniform cells. Will work on in a bit
and see if I can fix this.

On Wed, Jun 29, 2016 at 9:28 AM, Michael Pilosov <notifications@github.com>
wrote:

[2016-06-29 17:37] smattis commented on #239
Hey. Just spent awhile looking at this. The problem is not in calculating the marginals. I just modified the above script and calculate the marginals in the most naive way possible and they check out.

[code]

[2016-06-29 17:43] smattis commented on #239
@eecsu and @mpilosov In the future, when raising issues, try to have a concise example that illustrates the issue, rather than a script for a whole problem and suggesting where the issue probably is. I did a sanity check on the marginal calculations in a few lines of code:

[code]
and everything was as I expected. An example like this where the binning is being messed up is what I would expect in

[2016-06-29 17:50] mpilosov commented on #239
I see. so the issue is in the reference marginal computation somewhere. I'll talk to Troy and see what's up.
Apologies for the bad case example, and thanks for your help. It was and is always much appreciated.

[2016-06-29 19:12] #239 closed

[2016-06-29 19:21] eecsu opened #241 "Create a type of sample histogramming and computeProbSet in postTools"
We should create a tool for defining histograms based on a set of samples defining the bins. It would look kind of like the ``user_partition_user_distribution`` in ``simpleFunP``. We should not limit ourselves to just computing marginals and/or defining histograms on regular grids. This can be a way to post-process the probability measure to determine the probabilities on some non-structured parti

[2016-06-30 02:08] lcgraham opened #246 "Add parallel loading"
Add parallel load methods for sample_set, discretization, and basicSampling. These should all be based on the file loading that happens when the adaptive sampler uses HOTSTART.

[2016-06-30 02:10] lcgraham commented on #213
@scottw13, what's the status on this?

[2016-06-30 02:18] lcgraham commented on #167
This task include updating the *.rst files. I need to update these for some of the examples I have written. @smattis can you check the associated *.rst files for the contaminant transport example?

[2016-06-30 02:19] #230 closed

[2016-06-30 15:35] scottw13 commented on #213
Have not begun.  I haven't had a look at the updated examples that
Troy/Michael worked on yet.  I'll look at them on Monday and finish the
.rst files by then end of the week.

Scott

On Wed, Jun 29, 2016 at 8:10 PM, Lindley Graham <notifications@github.com>
wrote:

[2016-06-30 16:58] eecsu commented on #167
@lcgraham did you look over the changes to the ADCIRC from file documentation that I changed? I tried to make at least the first set of examples consistent with the format of outlining the steps we are doing in the basic algorithm of solving a stochastic inverse problem. The examples themselves were updated slightly with visualization of domains showing up in the first set of scripts (which allowe

[2016-06-30 17:00] scottw13 commented on #167
Troy if you want to take a first stab at these that's fine by me.  Let me
know how it goes or if you have any questions.

Scott

On Thu, Jun 30, 2016 at 10:58 AM, Troy Butler <notifications@github.com>
wrote:

[2016-06-30 17:02] lcgraham commented on #167
@eecsu I really like what you did with teh first set of ADCIRC examples. So
much so that I want to copy your lead for the second set of ADCIRC examples
(the Q_*.py ones).

On Thu, Jun 30, 2016 at 1:00 PM Scott Walsh <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2016-07-06 03:16] smattis opened #247 "parallelism wrong in basicSampling.random_sample_set"
The parallelism is wrong in `bet.basicSampling.random_sample_set` and maybe other places in basicSampling. This is causing mistakes downstream. For instance, running the following with two processors

[code]
I get
[code]
Instead of creating 5 local samples on each processor, it is creating 10 different ones on each. Even worse is the following. Doing this:
[code]
on two processors, I get:
[code]
T

[2016-07-06 03:25] lcgraham commented on #247
This is part of what I'm trying to fix in pull request #243.

[2016-07-06 03:27] smattis commented on #247
Ok. I see that now.

[2016-07-06 03:31] lcgraham commented on #247
This issue should be fixed once this pull request goes through but I'm having trouble figuring out what is wrong since it passes all the tests on the departmental machine I'm using at FSU. And yes it appears in the regular sampling method in basicSampling and should be fixed there once #243 is merged.

[2016-07-09 17:56] #198 closed

[2016-07-09 18:17] #247 closed

[2016-07-18 23:34] #246 closed

[2016-07-19 17:49] lcgraham opened #251 "Add local versions of radii and normalized radii"

[2016-07-19 18:39] lcgraham commented on #241
Once #250 is merged then this should be named ``prob_regions`` and ``prob_regions_with_emulated_samples``

[2016-07-19 18:42] lcgraham opened #252 "Add deprecation warning to in_high_prob"

[2016-07-19 18:48] lcgraham commented on #241
This is resolved by #250

[2016-07-21 01:55] mpilosov opened #253 "cartesian_sample_set documentation"
The description seems to me to be really unclear, and it took me an embarrassingly long time to deduce what the inputs should look like.

I found that `xi = [ x-coordinates, y-coordinates, z-coordinates, etc]` was correct, which doesn't seem to be what the documentation states (" array_like `x1, x2, ... xn` ").

which I think more readily suggests `x1 = [x_1, y_1], x2 = [x_2, y_2]`, etc.

I think

[2016-07-21 02:33] smattis commented on #253
That documentation is lifted from meshgrid (http://docs.scipy.org/doc/numpy/reference/generated/numpy.meshgrid.html) which is a really common numpy function (also very similar to the Matlab function) and this is modeled after that. It is a little confusing, but is a really common, concise way to define cartesian grids. We could add a link to the meshgrid documentation.

[2016-07-21 02:36] mpilosov commented on #253
Ahhhhh. That makes a lot more sense. I frequently use meshgrid (albeit with one argument), and having a link to that documentation might indeed have made the connection click a lot sooner.

Thanks for the quick reply Steve. Sorry, I wasn't sure it was a real issue worth posting here, but I was just trying to consider what an end user might experience when looking at it and I do think a little more

[2016-07-21 03:22] lcgraham commented on #253
I think adding a link as a seealso would be a good idea.

[2016-07-21 14:09] #253 closed

[2016-07-21 15:44] #241 closed

[2016-07-22 03:17] lcgraham commented on #8
I think we've got this capability. It's just a matter of switching the input and output.

[2016-07-22 03:25] lcgraham opened #257 "Add in exact radii and normalized radii methods"
Use scipy.spatial.Delaunay to determine neighboring cells. Then determine distance to the furthest neighbor. See bet.calculateP.calculateError for hints/guidance. Make sure that we use radii as a cutoff in query for local volume emulation.

[2016-07-22 03:26] #8 closed

[2016-07-25 19:55] #251 closed

[2016-07-25 19:55] #252 closed

[2016-07-25 20:16] smattis opened #259 "save_discretization does not overwrite files"
`bet.sample.save_discretization` is not overwriting .mat files if they already exist. Look at the code:

[code]

It outputs (100,3 ) and the values are the same as the first discretization.

[2016-07-25 20:29] smattis commented on #259
The culprit is here https://github.com/UT-CHG/BET/blob/master/bet/sample.py#L85
The dictionary update will revert any key/value pairs back to the old saved dictionary if it existed before.

[2016-07-25 20:31] lcgraham commented on #259
Solution:

[code]

[2016-07-25 20:33] lcgraham commented on #259
This should be applied in both save_sample_set and save_discretization. Good catch!

[2016-07-25 20:38] smattis commented on #259
I think that `save_discretization` should save the given discretization as it is to the filename given, overwriting anything that already has that name. Loading the file with the filename if it exists and updating it seems dangerous.  Say I have a saved discretization with only input and output sample sets that have values and error estimates. Now, if I try to save another discretization with inpu

[2016-07-25 20:40] lcgraham commented on #259
Yes, this makes sense I will submit a proposed fix shortly.

[2016-07-25 20:57] smattis commented on #259
Cool. Should be pretty simple. Mostly deletion.

[2016-07-25 21:59] #259 closed

[2016-07-26 00:57] lcgraham opened #261 "Update plotting to check for reference value in sample set"
Update plotP and plotDomains to check for reference value in sample set objects

[2016-07-26 01:05] lcgraham opened #262 "Update plotDomains to check and use probabilties"
If color is None and there are probabilities then use probabilities to color samples

[2016-07-26 18:55] #261 closed

[2016-07-27 13:56] lcgraham commented on #262
Actually if color is a string like "volumes" or "probability" then color based on that.

[2016-07-28 17:28] lcgraham opened #264 "Add or recommend Voronoi cell plotting code"
I think we all have similar code that does this, but it might be nice to include these features in plotDomain or as a separate module called plotVoronoi

[2016-08-03 15:45] lcgraham commented on #257
Use kdtree to find/do the connectivity to estimate/determine neighboring cells.

1. For all emulated points in cell get the 2 nearest neighbors.
2. The set of second nearest neighbors for all emulated points included in a cell are the neighboring cells. Then we calculate the distances/radii exactly from this. (The might be possible without the emulated points.) This is an approximate connectivity.

[2016-08-04 18:49] lcgraham opened #265 "new issue"
@eecsu Can you add that issue that we spoke about yesterday?

[2016-08-05 15:21] eecsu opened #267 "rst updates for contaminant transport example(s)"
Example(s) is(are) updated, but the rst files need to be updated.

[2016-08-05 15:24] eecsu commented on #265
There was the contaminant transport rst files (just raised an issue for that and I know Steve was working on those Wednesday).

The sensitivity examples need to be updated with documentation as well and I will get on that soon (issue already exists).

The other was the center_pts_per_edge for the rectangle sample set used in the discretization of a uniform distribution on a rectangle. Will submit

[2016-08-05 15:26] eecsu opened #268 "center pts per edge for simple function discretizations of uniform rectangles in data spaces"
Previously deprecated this with the new use of rectangle sample sets, but need to include an improved discretization of data spaces using rectangular sample sets by specifying the number of grid points used along each edge (so it can be an array not just a scalar passed in to the functions). S

[2016-08-05 15:36] #265 closed

[2016-08-05 17:39] #167 closed

[2016-08-05 17:39] #268 closed

[2016-08-05 17:39] #267 closed

[2016-08-08 22:29] lcgraham commented on #257
Needs more work to take into account bounded domain...

[2016-08-09 04:06] lcgraham opened #274 "Update version number"
I will do a final look through after #273 and #272 have been merged and then update the version number and re-build the documentation.

[2016-08-09 15:56] #213 closed

[2016-08-09 18:30] #262 closed

[2016-08-09 18:32] lcgraham commented on #274
I'm doing the final documentation updates. I messed up my gh-pages branch on my fork so I'm fixing that and then I'll do a pull-request for gh-pages.

[2016-08-10 17:05] #274 closed

[2016-08-12 00:42] eecsu opened #277 "cartesian sample set not handling 1-D data space"
With a data space that is 1-D, I am getting errors in the linear and nonlinear examples

Traceback (most recent call last):
  File "nonlinearMapUniformSampling.py", line 124, in <module>
    cells_per_dimension = 3)
  File "build/bdist.linux-x86_64/egg/bet/calculateP/simpleFunP.py", line 457, in regular_partition_uniform_distribution_rectangle_scaled
  File "build/bdist.linux-x86_64/egg/bet/calcul

[2016-08-12 00:43] eecsu opened #278 "Make sure all examples run"
The plotting updates are making some errors pop up due to filenames with extensions which used to work but no longer do, so we got to go through and clean them up. I will try to do this later tonight.

[2016-08-12 01:01] eecsu commented on #277
I think switching lines 2047 and 2048 of sample.py to

            maxes = np.transpose(np.array([xmax]))
            mins = np.transpose(np.array([xmin]))

fixes this bug. Is this going to have any unintended consequences?

[2016-08-12 01:22] eecsu commented on #277
I think I have this fixed now. I will submit a pull request.

[2016-08-12 03:08] #278 closed

[2016-08-12 03:08] #277 closed

[2016-11-24 16:08] #264 closed

[2016-11-24 16:09] smattis commented on #264
Happy Thanksgiving

[2016-11-24 16:24] lcgraham commented on #264
Happy Thanksgiving!!!

On Thu, Nov 24, 2016 at 11:09 AM Steven Mattis <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2017-03-03 21:07] smattis opened #288 "TODO 03.03.2017"
- [ ] integration module
- [ ] example using Voronoi surrogate
- [ ] look over selecting qois using sensitivity package and examples
- [ ] jupyter notebook examples

[2017-03-03 21:09] lcgraham commented on #288
Can you elaborate a little more on what you mean by integration module?
Thanks.
On Fri, Mar 3, 2017 at 4:07 PM Steven Mattis <notifications@github.com>
wrote:

--

Lindley Graham, Ph.D. 2015

[2017-03-07 09:59] smattis commented on #288
A module for measure-theoretic integration. Integrating measurable functions in input and output spaces.

[2017-03-07 15:16] lcgraham commented on #288
Thank you. I can add this, I already have separate code that does this in pyMFMC.

[2017-06-14 21:38] mpilosov commented on #288
speaking of integration, I found in some examples I was running that probabilities in the input_sample_set didn't sum to 1. In fact, they summed to the proportion of (bins in the output space that had samples land in them) to (total bins in output space). Issue only showed up in problems of dimensions > 2, across several varieties of defining the output distribution and different input space sampl

[2017-06-15 02:04] mpilosov opened #292 "bug: probabilities not integrating to 1."
I _think_ have now confirmed that this is a bug (after wrestling with this issue all day):

_using more than than 1 cell per dimension to discretize observed densities can yield input probabilities not integrating to 1._

What they integrate to is the **proportion of** _bins in the output space that had samples land in them_ **to**  _total bins in output space_.

----

**Here's how to recreate the

[2019-01-17 01:29] mathematicalmichael opened #294 "Tests not passing"
I have been completely unable to find a suitable environment in which the tests pass. Not on my macbook (including old environments where they did pass), nor in a new Ubuntu 18 container with a fresh install of python 2.7.

@smattis any luck getting `nosetests` to run successfully? In what environments/builds?

Here are some of the relevant errors from what I can tell that are triggering it

[code

[2019-01-17 15:36] scottw13 commented on #294
I did not reinstall, but I remember always seeing this error.  Like Steve
said, it doesn’t cause the tests to fail.  It happens when the gradient
vectors are linearly dependent.

Scott

On Thu, Jan 17, 2019 at 3:24 AM Steven Mattis <notifications@github.com>
wrote:

[2019-01-17 17:55] mathematicalmichael commented on #294
Well that aside, I believe those are being caught as warnings, the test failing is not per-say acceptable. Just curious if anyone has them passing in any capacity at all.

[2019-01-17 17:59] smattis commented on #294
Did you read my comment? All tests still pass for me, so I have no idea
what you’re talking about. Can you post the output from running nosetests?

On Thu, Jan 17, 2019 at 18:55 mathematicalmichael <notifications@github.com>
wrote:

[2019-01-17 18:17] mathematicalmichael commented on #294
@smattis no, sorry I missed it (didn't go to email for some reason but Scott's did). what is your environment?

What I pasted was just some of the output. at the end, I still receive errors.
Fresh Python 2 build inside of Docker using jupyter/docker-stacks:
[code]

So, everything is fine, ran `python setup.py install` and then `nosetests`...

[code]

The errors are different on my personal laptop

[2019-01-17 18:20] mathematicalmichael commented on #294
at the very least, the `scipy` issue needs to be addressed with a version-lock in `setup.py`. What `scipy` version are you using, @smattis? (I'm far less concerned with the macbook matplotlib errors, but the question of why test plotting remains, since we do want this to pass on macbooks, no?).

[2019-01-18 15:55] smattis commented on #294
@mathematicalmichael  It seems like your issues are arising scipy v1.2 which was released in December. I am doing my builds using conda, and they are using scipy v1.1 as the default version of scipy for python 2.7. I just merged something to master that takes care of some really minor things that were creating errors with newer versions of numpy. I included a version lock for scipy, numpy, and mat

[2019-01-18 16:20] mathematicalmichael commented on #294
Thanks, @smattis!
I've also been building with conda, the http://math.computer setup is all dockerize, both hub and single-user servers, so it was the natural choice. That's the environment I care most about. Having it work locally isn't too much of a concern (I've encountered the framework issue before, know it's not a problem).

I will get it converted to Python 3 next semester. Hopefully sooner

[2019-01-18 16:33] smattis commented on #294
Right, there can be no failures in a pass.

Can you see what the matplotlib backend is with by doing

``

``

[2019-01-18 16:35] mathematicalmichael commented on #294
Looking a little deeper, all errors are of the following format:

[code]

So, has something changed in `nptest`? Is the version lock of matplotlib the issue? From what I can tell, this test simply tests the plotting code for success.

If I may provide some perspective: one thing I have noticed in some repositories is a complete shunning of any custom plotting functionality. In effect, it is often

[2019-01-18 16:37] mathematicalmichael commented on #294
@smattis looks like we're on `Qt5`

[code]

[2019-01-18 16:42] smattis commented on #294
Can you try
[code]
and rerun the tests?

[2019-01-18 17:31] mathematicalmichael commented on #294
[code]
was the result, so that didn't change the tests.

I tried `export DISPLAY=0` (and `:0`) but still got `Could not connect to display` ...
(again, dockerized environment, I'm sure that's related).

[2019-01-18 17:35] mathematicalmichael commented on #294
[code]

was addressed with `export QT_QPA_PLATFORM='offscreen'`

Then I re-ran nosetests. Same errors.
Figured it couldn't hurt to try `python setup.py install` as well, but that didn't help.

[2019-01-18 19:03] mathematicalmichael commented on #294
running individual tests, I can see that switching the backend in `ipython` does not propagate to the test.

[code]

[2019-01-18 21:00] mathematicalmichael opened #296 "Python 2 to 3 Conversion"
# Phase 1
Baseline Update

_Usage_: `2to3 -w BET/`
_Result_:

*Passed Tests*
- test_Comm.py
- test_surrogates.py
- test_calculateP/
    - test_calculateError.py
    - test_indicatorFunctions.py
    - test_simpleFunP.py
- test_sampling/
    - test_basicSampling.py
    - test_Lp_generalized_samples.py
- test_sensitivity/
    - _test_chooseQoIs.py_ (196s -- about 60% of the total test time)
- test_po

[2019-01-18 21:12] mathematicalmichael commented on #296
tests actually still pass after `2to3` in previous `Python 2` environment. Only some warnings:
(This is a good sign for backwards-compatibility)

[code]

I will continue testing in both environments to make sure we remain backwards-compatible.

[2019-01-21 13:10] smattis commented on #294
@mathematicalmichael Sorry for taking awhile to get back to you. This definitely makes sense to me that the problem was the matplotlib backend in a dockerized build. You need to have a `DISPLAY` environment variable properly defined or any plotting will probably give errors unless a very basic backend like Agg is used.

I agree that to make publication quality figures, you probably need to modify

[2019-01-21 13:40] smattis commented on #296
Lindley was really good about running Pylint on everything, so I am not surprised that we are pretty good regarding backwards-compatibility.

[2019-01-21 17:09] mathematicalmichael commented on #294
so, I tried setting the display variables but couldn't quite get it to work. `export DISPLAY=0` (and `:0` both failed to fix the tests with the default backend).

I like your idea of overriding the tests, but I do plan on eventually making sure that `PyQt5` can serve as our backend, since this is what ships with Conda. I'm sure it is indeed the `DISPLAY` issue, but how could I address it other tha

[2019-01-21 19:11] mathematicalmichael commented on #294
no, I understood. Apologies for not being clear. What I was asking was _what steps should I take on my dockerized machine to export DISPLAY variables in a way that may allow the default tests to pass?_
Nothing is set right now inside the default container.

[2019-01-22 20:45] mathematicalmichael commented on #296
**Version Control Notes** for myself

- `nose`
  - Python 3: `1.3.7` (pip install)

- `pyDOE`
  - Python 3: `0.3.8` (pip install)

- `scipy`
  - Python 3: `1.1.0` (comes with conda)

- `matplotlib`
  -  Python 3: `2.2.3` (comes with conda)

After 2to3 conversion, tests pass only if `echo "backend:Agg" > ~/.config/matplotlib/matplotlibrc`

**Goalpost 1**: Get tests to pass with the aforementioned l

[2019-01-22 21:10] mathematicalmichael commented on #296
@smattis are the comments at the top of files with your name or Lindley's intended to track "last person to change this file?" AKA do I update this field in files I edit?

Also, once I'm allll done, I'll update the Copyright notice to read 2014-2019 for all the files.

[2019-01-22 21:39] mathematicalmichael commented on #294
update: trying some things along the lines of "running graphical applications from docker containers." since that seems to be the issue. I'll investigate... the good news is that these issues are unrelated to the tests themselves.

[2019-01-22 21:39] #294 closed

[2019-01-23 15:15] smattis commented on #294
Ok. Good.

[2019-01-23 15:21] smattis commented on #296
I see that these comments only appear in a small number of files. I am fine with deleting them, since github is tracking the modifications and who made them. Is that ok with you @lcgraham?

Yes, @mathematicalmichael  go ahead and eventually update the copyright when you're ready.

[2019-01-23 15:22] lcgraham commented on #296
That’s fine with me. Those comments seem pretty redundant given that github
is tracking everything.

On Wed, Jan 23, 2019 at 7:21 AM Steven Mattis <notifications@github.com>
wrote:

--
Cheers,
Lindley

[2019-01-23 15:23] mathematicalmichael commented on #292
@smattis @eecsu this appears to still be a thing.
Can we please address it so I can close the issue?

[2019-01-23 15:40] lcgraham commented on #296
@mathematicalmichael Not that I can think of. Maybe visually checking the docs to make sure they're still up to date and built correctly?

[2019-01-23 15:50] lcgraham commented on #288
I don't know if it's helpful or relevant anymore, but I've updated the privileges in
https://github.com/lcgraham/pyMFMC and
https://github.com/UT-CHG/pyMFMC in case there's anything helpful in there for y'all.

[2019-01-23 15:52] mathematicalmichael commented on #288
@lcgraham would you mind adding @mathematicalmichael? It’s my primary account now.

[2019-01-23 16:02] lcgraham commented on #288
@mathematicalmichael I've invited you to the bet-dev team on GitHub under the UT-CHG org/group. If the invite doesn't work of go through. I can try again and @smattis and @eecsu should have the same permissions to add you.

[2019-01-23 16:03] mathematicalmichael commented on #288
just got it and accepted. thanks!

[2019-01-23 16:39] mathematicalmichael commented on #288
@lcgraham is pyMFMC still in dev or has it been shelved? Was the idea to possibly add it into BET? Seems unnecessary since the integration functionality seems self-contained. @smattis what were your thoughts originally for use?

[2019-01-23 16:57] lcgraham commented on #288
@mathematicalmichael unfortunately pyMCMC has pretty much been shelved. I don’t think it would make sense to add to BET since it as built to be self-contained separate from BET. You might want to just add in the integration subpackage if you’d find that helpful.

[2019-01-23 16:59] smattis commented on #288
pyMFMC is completely written by @lcgraham. I don't think there was ever a plan to integrate it into BET, but it does depend on BET. Once @scottw13  and @lcgraham left academia, and I left UT most of the active development stopped, hence this TODO never being finished. However, the stable version has a lot of good stuff that I still use all of the time.

[2019-01-23 19:21] mpilosov commented on #288
So is pyMFMC something I should upgrade to Python 3 as well?

Not sent from my computer.

On Jan 23, 2019, at 09:59, Steven Mattis <notifications@github.com<mailto:notifications@github.com>> wrote:

pyMFMC is completely written by @lcgraham<https://github.com/lcgraham>. I don't think there was ever a plan to integrate it into BET, but it does depend on BET. Once @scottw13<https://github.com/scottw

[2019-01-30 00:18] mathematicalmichael opened #298 "Parallel Tests Failing"
@smattis they are not passing. clean clone of master branch, Python 2.7

Minimal output...

[code]

[2019-01-30 00:22] mathematicalmichael commented on #298
basically, it seems that none of the sampling module tests work...

[2019-01-30 14:18] mathematicalmichael commented on #298
source of error is that the decorator class used to skip the test is being ignored.
Why?
Well, `bet.Comm` is reporting `.size` of 1 even with `NPROCS` = 2.

[2019-01-30 14:32] mathematicalmichael commented on #298
Thanks, @smattis. That's helpful. I actually started investigating this morning (hence the comment and self-assigning), and literally just discovered problems trying to link MPI.

It's frustrating that my testing environment (the docker containers) are finicky like this, but I was also getting problems with "could not find files" on my workstation, which is realllly similar to the container enviro

[2019-01-30 14:33] mathematicalmichael commented on #298
I'd like to point out that this container environment is definitely where the future is trending towards (due to ease of set-up for new users, reproducibility through tools like binder, etc), and I would like to prioritize testing on modern Ubuntu releases since the security is greatly improved.

[2019-01-30 14:38] smattis commented on #298
Can you post the YAML file that you are using to setup your environment?

[2019-01-30 14:42] mathematicalmichael commented on #298
I'm not using one.
[code]

is the line in the Dockerfile that does the work.

But hold on... The issue here is that in my environment, _something_ is causing `Comm` to report the wrong number of processors in parallel. The CORRECT output for `mpirun -np 2 test_plotDomains.py` should be "SKIPPED" ! (AKA the decorator on top of the test is being ignored... this isn't quite an environment issue perha

[2019-01-30 14:44] mathematicalmichael commented on #298
[code]

This logic seems to fix the issue.
I'll go ahead and push this commit through since it's completely equivalent and seems more robust

[2019-01-30 14:48] smattis commented on #298
Ok, it's weird that the decorator is being skipped, though. This is equivalent though.

Please do a pull request, and let me review and merge rather than pushing directly to master!

[2019-01-30 14:52] mathematicalmichael commented on #298
certainly is weird that the decorator is being skipped, I agree.
I do think this is the only place it shows up though.

[2019-01-30 14:55] smattis commented on #298
@mathematicalmichael Sorry, but I removed your write privileges because of that. You should always make changes via a pull request and make sure all of the checks pass. That push triggered a CI build on Travis, so if it passes I'm ok with not going through the hassle of reverting and doing a pull request.

For now, just do everything on your fork and do a pull request. I should prep you on our pro

[2019-01-30 14:58] mathematicalmichael commented on #298
Looking at the output of the error messages above, and re-running nosetests as a whole actually led me to find a bunch of other errors as well in this environment. I don't know what is happening but I'll meet with Troy and see if he's able to pass parallel tests on his machines. I'll also try an Ubuntu 14 Docker container just to see if that could possibly be part of this...

And yes please do tha

[2019-01-30 15:02] mathematicalmichael commented on #298
Here is how I've set up the environment (on top of docker-stacks/datascience-notebook), which builds on top of Ubuntu 18.

https://github.com/mathematicalmichael/jupyterhub-deploy-docker/blob/master/singleuser/Dockerfile

[2019-01-30 15:23] mathematicalmichael commented on #298
I have tried `conda install mpi4py` and still ran into these problems.
I tried again on a fresh Ubuntu 18 machine and new conda env. Same parallel problems. Plenty of failed tests having nothing to do with `plotDomains` (unless... that decorator shows up in other places and is indeed the source of all the errors... we'll see).

I _also_ tried again on my Macbook Pro (Mohave), fresh install of `mpi

[2019-01-30 15:30] smattis commented on #298
Try installing mpi4py with pip instead of conda.

[2019-01-30 15:42] mathematicalmichael commented on #298
perhaps it's how I'm setting up parallelism? Removed conda install of mpi4py, then

[code]

[2019-01-30 16:00] smattis commented on #298
It might be something like that. I'm wondering if it is something to do with your MPI implementation. I don't see you building mpich2 libraries anywhere in your Dockerfile, so I don't know where they are being built. I am guessing you don't have a working MPI implementation, though.  Maybe add
`sudo apt-get install mpich2 libmpich2-dev`
to your Dockerfile

[2019-01-30 16:03] mathematicalmichael commented on #298
are those the right ones? trying on my workstation first since it is similar to the docker containers (the original thread was from there, and there are only 6 errors vs the 30 in my docker container... MPI set up is definitely the issue...)

[code]

Tried removing the 2 and the install gets immediately aborted...

[2019-01-30 16:18] mathematicalmichael commented on #298
taking abnormally long to run parallel tests. Something's hung up...

Inspecting the installation output from your suggestion, I see
[code]

Okay, so linking is not being done correctly? Was dropping the trailing `2` a problem?

[2019-01-30 16:46] mathematicalmichael commented on #298
You were on to it... In the containers...
Bless your soul. I owe you a beer.
Go ahead an revert my changes, I want you to review the set of commits in the PR for the upgrade. This isn't how I wanted it to go... But at least it helped diagnose the problem I was having. I will make sure to include mpi installation instructions in the README

[code]

[2019-01-30 17:02] smattis commented on #298
Ok. I'm glad it's working. So you just ended up building mpich and its libraries, and it worked. Is that right? I guess mpich2 is just called mpich in Ubuntu 18?

I reverted the commits for your bad pull request in a new pull request and will merge it once the checks pass. Then you should do a new pull request fixing the issue of the tests not being skipped in parallel (or maybe your new mpi build

[2019-01-30 17:07] mathematicalmichael commented on #298
Yes, indeed! That is what fixed it, and that must be what it is called.

Now that MPI is fixed, I'll make sure to double-check the decorator. I suspect I'll end up reverting that commit. Still interesting though that it allowed one of the failing tests to pass despite the logic being identical.... weird. If it does indeed make an impact, I'll submit a PR.

When I eventually push the upgrade... sho

[2019-01-30 17:14] smattis commented on #298
Right now, it's using the default linux OS, and I would prefer to just keep doing that. Changes in linux version should not have much of an effect.

[2019-01-30 18:16] mathematicalmichael commented on #298
got it.

okay. closing out this issue.

Since I couldn't get the commit history messages to move over properly after messing up, I'm going to re-apply changes one-by-one to have a clean PR and do this correctly.

[2019-01-30 18:16] #298 closed

[2019-01-31 00:20] mathematicalmichael commented on #296
UPDATE: Conversion has been completed insofar as that all tests pass in serial and parallel. Putting finishing touches on it now, including running `pylint`.

@lcgraham I've never used this before but what exactly am I looking for? It doesn't appear to change the files, only rate them. The current `master` has 3.73/10. The `new-upgrade` branch on my fork has a 4.34, so as far as I can tell, nothin

[2019-01-31 02:44] lcgraham commented on #296
@mathematicalmichael pylint has a bunch of different settings and levels of
verbosity. You can get it to output either to screen or to file a list of
all of the reasons for the rating it gives the the whole package and for
each individual file. autopep actually changes the files, but pylint checks
for QA and common bugs. It's a good first indicator that the rating is
higher for this branch than th

[2019-02-01 14:47] smattis commented on #296
Great. I looked into the matplotlib scatter issues a bit and didn't see why it wasn't working.

Regarding the version, I would update it to 2.1.0. Since no functionality has been added, I don't see a reason to do a full version update. The version change from 1 to 2 included a complete restructuring and a loss of backward compatibility, which is not happening here. Then we can cite under the same

[2019-02-01 16:09] lcgraham commented on #296
I second everything @smattis said. I don’t think you need to use autopep. Sometimes it can cause more work/issues when it reformat things. It’s up to your personal preference.

[2019-02-01 17:08] mathematicalmichael commented on #296
@smattis I did what you said but miniconda had issues upgrading. I found a lot of people running into the same issues online. had to mess around with Travis a bit but eventually figured out how to get the checks to pass for both! Since Travis already came with pip installed, I used pip for all the installations, no conda.

The problem was that `conda install --yes python==$TRAVIS_PYTHON_VERSION` r

[2019-02-11 17:36] mathematicalmichael commented on #296
@smattis docs rebuilt, any reason we have to run `make html` twice? doesn't seem to change things.

[2019-03-25 20:01] mathematicalmichael opened #304 "v2.1.0/1 tag?"
How do tags work on here? I incremented versions in the `setup.py` file but the "tags" dropdown menu in github doesn't show anything.

[2019-03-26 12:41] smattis commented on #304
We agreed that we were going to stop doing tags and releases on github starting with v2.0.0. As long as we keep backward compatibility and keep doing good CI practices, it isn't really necessary. Also, new releases create new DOIs which in theory is nice, but we want people to keep citing the current v2.0.0 DOI for now.

[2019-03-26 20:31] mathematicalmichael commented on #304
Thanks for the clarification. Troy asked me about it a while ago and I forgot to look into it. Much appreciated.

[2019-03-26 20:31] #304 closed

[2019-03-26 20:31] mathematicalmichael commented on #296
closing issue as the upgrade is done, improvements made, etc.

[2019-03-26 20:31] #296 closed

[2019-04-09 17:19] mathematicalmichael opened #306 "linting questions"
Methods in classes are sometimes separated by a whitespace, other times not. As I'm going through writing new functions based on existing ones, I'm finding these sorts of things (e.g. in `sample.py`) and am happy to correct them in an independent PR. What is the preferred whitespace formatting? Ex: [line 34](https://github.com/UT-CHG/BET/blob/10f6e8da73f0fe82faf01aab476eae8a7031dd60/test/test_samp

[2019-04-10 19:18] mathematicalmichael opened #307 "clean up dead branches"
it looks like the `audit` and `dev-sensitivity` branches have code that's not merged into master. Anything to know about? Can we clean them up? Along with `dev`...

[2019-04-10 22:29] mathematicalmichael opened #310 "re-factor plotting"
- [ ] Improve coverage

- [ ] Remove keyword arguments with default `None` that can be caught by `**kwargs`

- [ ] Adopt `**kwargs` structure (see below for example)

[code]

[2019-04-10 22:33] lcgraham commented on #306
Hi Michael,

I think my preference would be whatever PEP8 recommends. I try to separate
methods in the same class by a single space, and methods in difference
classes or classes by two spaces.

Yes, that's probably due to multiple authors. I would double check that the
capitalization isn't for the nosetests. You should feel free and empowered
to fix it if you'd like to.

Thanks for being so detail

[2019-04-10 22:53] mathematicalmichael commented on #306
- [ ] whitespace
- [ ] capitalization styling: TestClass, test_method
- [ ] `setUp` => `setup` ??
- [ ] Why no decorators? [nose documentation](https://nose.readthedocs.io/en/latest/writing_tests.html#test-packages)
- [ ] autopep

[2019-04-10 22:53] mathematicalmichael commented on #306
@lcgraham wow! autopep8 did both the capitalization thing and the whitespace. absolutely going to run it on the files and submit a PR for that. like... now.

[2019-04-12 15:42] smattis commented on #307
I deleted `audit` and `dev-sensitivity`. It looks like `dev` has a bunch of stuff that was never merged, so in theory we could want to look at this again, so I'll keep it for now.

[2019-04-12 15:42] #307 closed

[2019-04-12 15:43] #306 closed

[2019-04-14 21:44] mathematicalmichael opened #316 "basicSampling bug"
[code]
even though everything is being passed as an integer (I suggest we cast these forcefully), the change to default type of float is breaking the functionality. For some reason this is not caught by tests either, or the tests were made to pass explicit types.

error:
[code]

[2019-04-14 21:45] mathematicalmichael commented on #316
does not happen with `random_sample_set`

[2019-04-14 22:03] mathematicalmichael commented on #316
conversions performed. needed to do this in a jiffy because I'm writing convergence tests and having regular sample sets is helpful for those, so apologies if it's not the most elegant of solutions.

also, I noticed the `[0,1]*dim` syntax instead of my `_ in range()` one, and I am totally using that from now on...

[2019-04-14 22:21] mathematicalmichael commented on #316
And to confirm, I get the same issue if I use the "sampler" approach:
[code]

[2019-04-15 11:14] mathematicalmichael opened #318 "set_probabilities"
perhaps I misunderstand something about how exactly the parallelization logic works, but once `set_probabilities()` is called, `global_to_local()` is not, so if existing `probabilities_local` are there, and another routine is called that runs `local_to_global` during initialization, the over-writing of the probabilities gets reversed. if `set_probabilities` is called, why are the local ones not ov

[2019-04-18 10:03] mathematicalmichael opened #319 "documentation website down."
I looked into why this might be and I think it's because the `makefile` is assuming the existence of `../gh-pages/` which I understand to be the branch with no common commit history, but was held as a folder in a parallel directory. So yeah, that's my operating theory ... a user (me) following instructions as-is in `README` didn't actually push changes to the website. Can't investigate further sin

[2019-04-18 11:54] smattis commented on #319
I just pushed a change that fixes it. Apparently addresses github pages sites are now case sensitive. That was the problem. We do need to rebuilt the docs, though, which is a little tricky.

[2019-04-22 21:46] mathematicalmichael commented on #319
thanks! is the problem with rebuilding them related to the whole "orphan branch" thing?
I have a bash script that does pushes of a `public` folder of a static site to a `gh-pages` branch, so that may be helpful? [link to bash script on github](https://github.com/mathematicalmichael/slumlords/blob/master/move_site.sh)

[2019-04-22 21:50] #316 closed

[2019-04-22 22:23] mathematicalmichael opened #320 "resolve FutureWarning"
don't have access to add this to the projects, but this is a low-priority to-do that I am putting here for later reference.

parallel nosetests:
[code]

let's try to get rid of this warning, yeah?

[2019-04-28 15:59] mathematicalmichael opened #322 "proposal to change Travis file"
right now the current `.travis.yml` file [line 16](https://github.com/UT-CHG/BET/blob/master/.travis.yml#L16) follows the previous style of setting up, installing all the packages manually.

I propose that we remove any packages listed in this line that are explicitly stated in `setup.py`, which is called on the following line. I believe this would likely mirror a more common setup scenario, where

[2019-04-28 16:14] mathematicalmichael opened #323 "FEniCS examples fail"
inconsistent use of tabs/spaces. Seems like my auto-linting did not actually go deep enough in its recursion of folders. Completely missed these files. I believe that a pass through autopep should be able to fix this.

Minimal steps to reproduce issue (fresh env):
[code]

Came across it by accident as I was getting bored of running the same examples and realized I had never played around with this

[2019-04-28 16:19] mathematicalmichael commented on #323
confirmed: linting did address this bug.

However, still unable to run `BET_script.py`

here's a quick debugging tip: open the binder, open the python files, right click "create console for editor" , select all code in the python file, hit ctrl+enter. The console is dedicated to this file alone.

[2019-04-28 16:22] mathematicalmichael commented on #323
furthermore, and this may be related to the error in `BET_script.py`: when trying to run `myModel_serial.py`, I get `FileNotFound` for the `KL_expansion.mat` file. I assume that's because there was an error in it's creation in the aforementioned script file.

[2019-04-28 17:04] mathematicalmichael commented on #320
another one:
`contaminant.ipynb`
Cell 6
![Screen Shot 2019-04-28 at 11 03 34 AM](https://user-images.githubusercontent.com/40366263/56867681-52222300-69a5-11e9-9304-b6d189765995.png)

[2019-04-28 17:09] mathematicalmichael opened #325 "go through all plotting examples, make sure labels display nicely"
- [ ] try in notebook

- [x] try in lab

- [ ] console / terminal

- [ ] try in binder environment

- [ ] look at saved figures. are the labels legible (default settings)? can you read them in the notebook?

- [ ] as a user, do you find it easy to change labels produced by BET plots?

it appears that sometimes titles are cut off (see image)
![Screen Shot 2019-04-28 at 11 08 27 AM](https://user-ima

[2019-04-28 17:15] mathematicalmichael commented on #325
update: it looks like many of the labels have been fixed with the merging of `improvements` but I would like to keep this issue open until someone else helps verify that plots look good. The reason I got the screenshot above was that I was running locally and hadn't installed those updates. Things should be fine now, but I'd like some help validating.

[2019-04-29 18:20] mathematicalmichael opened #327 "proposed workflow for sampling"
[code]

the following should create an identical set up to using
`bsam.random_sample_set('r', input_dim, num_samples)`
to make the input set. It checks for the presence of a `scipy.distributions.rv_frozen/continuous` object as part of the sample set (`initial_distribution`), and if there, use it to generate samples according to that distribution, and keep volumes undefined.
`my_disc = sampler.comp

[2019-04-30 18:50] mathematicalmichael commented on #161
[](https://imgur.com/a/hbt88u5)
https://imgur.com/a/hbt88u5

[2019-04-30 21:12] eecsu commented on #323
https://github.com/UT-CHG/BET/pull/324 addresses this

[2019-04-30 21:12] #323 closed

[2019-04-30 21:28] eecsu opened #331 "plotting with reference parameter"
if Qref or lambda_ref is specified, plot it. if one is passed, plot that instead but print something to inform the user, and if both are None, print error message

[2019-04-30 23:08] smattis commented on #322
@mathematicalmichael I am on vacation and can think about this stuff next week. Also, I would very much like a chance to review your pull requests before they are merged. Please, in the future @ me in your pull requests, so I can review them. It might take a few days or a week, but I want to look at them. Please don't go around me.

[2019-05-01 01:29] mathematicalmichael commented on #322
I didn’t, I just got a lot done over the weekend (I worked all day every day), and today was the first time I finally got troy down to sit and review code. Timing just aligned well. We went line by line. Helping make the diff smaller on big features coming down the line, which are actually worth your time to review. Entire methods and classes. Everything today was just small stuff to set the stage

[2019-05-01 01:58] mathematicalmichael commented on #322
Also, to clarify, this issue in particular was not part of the PRs. It was just an idea.

[2019-05-01 17:09] mathematicalmichael commented on #139
I actually accomplished this by setting `probabilities` to 1/num_samples if empty, and then using that vector in place of volumes in the main loop of calcP.prob.

@lcgraham This feature is coming down the line very soon, I think I can make it it's own PR. It will be aligned with setting an "initial" distribution which we "update". If unspecified, uniform is assumed.

Check out the animation in #16

[2019-05-01 17:19] mathematicalmichael opened #332 "segmention of examples"
https://github.com/UT-CHG/BET/blob/master/examples/plotting/Plotting_Examples.ipynb previews like this are nice, but it clutters up this repository with the large commits.

I suggest we remove notebook examples and move them to a separate repo. We can decide if it is worth keeping any python script examples here or if we should move those too. The thinking is that someone can clone or explore the

[2019-05-02 00:27] mathematicalmichael commented on #327
more thoughts:
[code]

at this point, all that's missing is the specification of an `output_probability_set`
[code]
if `simpleFunP` is used, make sure to correctly set the observed distribution.

Now, we are ready to solve:
[code]

want to be able to replace the first line with
[code]

this can allow for the skipping of setting the sample set with `basicSampling` and let the sampler object do that

[2019-05-02 15:22] eecsu commented on #332
I agree with this idea. I think the fenics example ought to have a separate repo as well since it has fenics as a dependency, which can cause all sorts of issues for people. I would have the python scripts and notebooks together in a separate repo just to make sure they stay in sync.

[2019-05-03 00:43] mathematicalmichael commented on #332
Yeah, we can set up a dockerfile so binder can build fenics and let people try it out. Summer?

MP

Sent from my iPhone

[2019-05-05 21:48] mathematicalmichael opened #333 "mpirun -n 3 nosetests"
Are the nosetests expected to pass for more than 2 processors?
Our travis file only tests this example, and I recently started trying other numbers with mixed success. Are some of the tests too small to break up into too many processors? @smattis

I've tried this in a number of environments. Always the same story. Fresh clone, pass for n=1,2, error for 3 onwards. 1 error. for 8 processors, i start

[2019-05-05 21:51] mathematicalmichael commented on #333
the commit 052ef518cf18c9d411add3768f0093b2b03a48b9 right before my first ever change is also failing in the same way (in python 2). @eecsu have you ever run into this before by any chance?

[2019-05-06 02:28] mathematicalmichael commented on #327
Here's what I'm coming around to:
sensitivity to the data:

[code]
all the updates are performed by the re-setting of the observed. the pushforward is only computed once, on first start-up.

this is for non-data driven mode.

[2019-05-06 03:53] mathematicalmichael commented on #327
repeated observations on the same QoI as data come in... is now extremely memory efficient. never stores vectors it doesn't need.

[code]
omit data to simulate bootstrapping! change error assumptions as you wish. updated density will immediately reflect changes!

can pass vector of std's if the data becoming available is of different quality:
[code]
had we previously cleared the existing reference

[2019-05-10 03:17] mathematicalmichael opened #334 "nosetest sample check copy RuntimeWarning"
[code]
what is this about?

[2019-05-19 18:11] mathematicalmichael commented on #333
@smattis is this something I shouldn't worry about?

[2019-05-20 14:12] smattis commented on #333
I wonder if this is related to #289

[2019-05-20 14:21] mathematicalmichael commented on #333
is there anything I can do to help diagnose?

[2019-05-20 14:39] smattis commented on #333
I am just seeing some bizarre behavior overall in parallel stuff with this build. It could be somewhat sensitive to your processor types and MPI distribution. I will play around with it a bit.

[2019-05-20 14:48] smattis commented on #292
@mathematicalmichael I know this is really old, but I know exactly what is happening here. When no input samples map under the forward map to a cell in the output probability sample set, the probability of that set is not distributed to the parameter space. If the probabilities sum to something less than one, it really identifies that you are not sampling (or emulating) enough in the input space f

[2019-05-20 14:52] smattis commented on #292
This also shows that with `simpleFunP.regular_partition_uniform_distribution_rectangle_scaled`, you probably shouldn't use `cells_per_dimension > 1` if the dimension of the output space is bigger than 2 or 3.

[2019-05-20 14:55] mathematicalmichael commented on #292
@smattis thanks for the explanation. Dimensionality certainly can hit us, eh? =)
I think raising a warning would be a great idea. I came across a few instances in my new branches where similar nuances called for warnings and it really helped me later on when I was using the code to run some experiments. I think `WARN` is appropriate here?

Perhaps adding a `LOG` or `WARN` additionally to address `

[2019-05-20 14:58] mathematicalmichael commented on #331
to clarify, I believe Troy is referring to a handler function with an explicit naming like `with_ref` which detects input/output set in discretization, grabs appropriate reference parameter and passes it to associated existing plotting functions.

This is on my to-do list but of relatively low priority.

[2019-05-20 19:59] eecsu commented on #292
This is basically a violation of a discrete/set-valued form of the "predictability assumption." It is kind of equivalent to the expected value of r not being near 1 in the sample-based density approach. We should probably think of a way to phrase that into the warning that suggests the user may want to use a different solution approach (e.g., the sampling based approach instead of set-valued appro

[2019-05-20 20:14] mathematicalmichael commented on #292
@eecsu any thoughts on the phrasing of what I put up? Keep all/part, or replace entirely with suggestion to use sampling approach (once that gets merged). I think it’s helpful to explain some context behind why we raise a warning.

[2019-05-24 18:28] mathematicalmichael opened #335 "failing build due to #329"
@smattis I looked at the logs and can't really understand what happened to make the tests fail in parallel for Python 3.

Could we discuss how to go about fixing this? I really want to understand this stuff. It was passing before/after merge... Then suddenly... nope.

[2019-05-26 11:54] mathematicalmichael commented on #335
more from the trace:
[code]
was a file removed somehow? I can't make sense of these errors. Maybe mpi was updated?

[2019-05-26 12:07] mathematicalmichael opened #336 "pyDOE"
While trying to track down the issue for #335, I found that `pyDOE` has not been maintained in several years, with the author offering an apology a little over a year ago. There are a number of issues, including lack of python3 support, and more flexible random number generation, that have languished as PRs over the years.

One contributor started his own fork, which seems to be active. https://gi

[2019-05-26 12:15] mathematicalmichael commented on #335
parallel tests are passing in my environment. This is confusing.
`mpirun -n 2 nosetests -v test/test_sampling/test_adaptiveSampling.py`

Packages:
`pyDOE` is up to date.
`numpy` 1.15.4 => 1.16.3
`scipy` 1.2.1 => 1.3.0

once updated, tests fail. now seeing the same message as Travis

oddly... when i downgrade back, tests still fail. that is very weird. VERY weird. something clearly happened between

[2019-05-26 12:19] mathematicalmichael commented on #335
the errors are different between versions of numpy/scipy though.

with downgraded versions:
[code]

[code]

with upgrade:
[code]

[2019-05-26 12:21] mathematicalmichael commented on #335
unfortunately I do not understand exactly what the HOT/COLD outputs mean. Any ideas of what might be happening?? @smattis @eecsu

hard for me to test any new code since the old tests somehow started failing =/

[2019-05-26 12:41] mathematicalmichael commented on #335
reverting to earlier commits DOES NOT fix the problem. The builds were passing for the past three weeks. This is almost certainly due to an upgrade somewhere... I tried five different earlier commits. all same errors.

[2019-05-26 13:01] mathematicalmichael commented on #335
okay here's how I got them to pass on the latest commit:
- fresh clone = > fail.
- upgrade numpy/scipy
- DELETE any files generated by tests. find them ALL and remove them.
- re-run. Now pass.

this passes. so my hypothesis is that some files being generated are sticking around inappropriately between tests in parallel. watching the directory tree during parallel tests, I notice a bunch being gene

[2019-05-26 13:13] mathematicalmichael commented on #335
**ONLY NEED TO READ THIS**

fresh clone. with downgraded numpy/scipy, serial and then parallel...

serial pass.
parallel pass.

upgrade scipy.
parallel FAIL

DELETE FILES left over.
downgrade scipy.
parallel PASS.

_I think we've honed in on it... scipy upgrade is the problem? Let's make sure._

upgrade numpy.
parallel PASS.

OKAY. SO.... IT IS SCIPY, @smattis. something here... https://docs.scipy

[2019-05-26 18:37] mathematicalmichael opened #338 "Test_sample_set_1d"
This seems to be an orphan test method:
`test_sample.py` [Line 453](https://github.com/UT-CHG/BET/blob/master/test/test_sample.py#L453)

[code]

What was the intent here? I can't find any reference to it. Is it just to make sure you can set a 1d space? If so, why use `self.domain` instead of `self.sam_set.set_domain`?

[2019-05-26 18:40] mathematicalmichael commented on #322
this actually relates to why #337 failed on the first commit. Even though I specified the version in `setup.py`, the first invocation of `pip install` over-rode the explicit version-lock of scipy.

[2019-05-26 18:51] mathematicalmichael commented on #338
is the idea that it's a subclass that simply overwrites the `setUp` method? `nose` knows to run all the same tests for it?

[2019-05-27 21:34] eecsu commented on #335
Scipy 1.2.1 was already pretty recent. Right now, I think we only need scipy 1.2.1 for GKDE when we incorporate the density-based sample algorithms (assuming we want weighted GKDE as an option, which I do). So, if we lock it for now at 1.2.1 this should be sufficient moving forward in the foreseeable future.

[2019-05-27 21:37] mathematicalmichael commented on #335
`grep -rni “scipy” bet/`
we use it in a number of places. `scipy.spatial` is used for nearest-neighbor. `scipy.fftpack` is used in plotting, etc.
best course of action is to track down the problem and keep following their upgrades. The version-lock is only a band-aid.

[2019-05-28 20:46] mathematicalmichael commented on #327
more thoughts:
[code]

at this point, all that's missing is the specification of an `output_probability_set`
[code]
if `simpleFunP` is used, make sure to correctly set the observed distribution.

Now, we are ready to solve:
[code]

want to be able to replace the first line with
[code]

this can allow for the skipping of setting the sample set with `basicSampling` and let the sampler object do that

[2019-05-28 20:49] mathematicalmichael commented on #327
NOTE: this is all just here for posterity. Actively re-factoring code now. I decided to chop out a lot of  "clever" functionality in favor of clearer functions. I really want something slick for being able to switch between the modes, but it may not be worth chasing.

if someone sets an observed, I'm trying to decide whether or not to use the median/mean as the "data" if someone switches modes, an

[2019-06-10 20:38] mathematicalmichael commented on #338
confirmed. this is indeed what happens. very useful for writing my own tests.

[2019-06-10 20:38] #338 closed

[2019-06-12 21:58] mathematicalmichael commented on #333
I think it is related to #289
I sat down at another computer and started developing locally instead of in my cloud env, and kept running into parallel loading failures even with `-n 2` processors. the `sampling` module, specifically. @lcgraham

[2019-06-12 22:13] mathematicalmichael commented on #333
the fact that test files aren't cleaned up after tests complete is something I wonder could be related. If I run serial tests after some parallel ones fail, the serial ones will continue to fail until I clean up all the `1tox, testfilex` etc files.

[2019-06-13 19:41] mathematicalmichael commented on #320
found similar issues in other scientific libraries:
https://github.com/spacetelescope/stsynphot_refactor/pull/56/files
https://github.com/RaRe-Technologies/gensim/issues/2188

Can run `mpirun -n 2 nosetests test/test_sampling/test_basicSampling.py` to trigger the `FutueWarning` and then try changing `line 79` in `bet/util` to

[code]

and it will go away, with the test still passing (oddly).
So, t

[2019-06-13 19:56] mathematicalmichael commented on #320
maybe some more insight: because i had `mpi4py` installed, the `MPI_for_no_mpi4py` class never got instantiated, meaning the `MPI.INT` and `MPI.FLOAT` were inhereted from the import of `MPI` in `line 180` of `Comm`.

So, naturally I uninstall mpi4py and re-ran that test. First with the code as-it-was. Failure looked like:
[code]
So the failures were allowed??

Now let's change to `np.floating` and

[2019-06-13 22:59] mathematicalmichael opened #339 "Acknowledgement"
We should acknowledge the NSF grant number that paid me for my work this last semester and summer ... should this be in the README?

[2019-07-04 21:00] mathematicalmichael opened #341 "TODO: sample_set_examples module"
move `test/test_postProcess/helpers.py` and some of the funcitons from `utils` into a new sub-module.

@eecsu: This may be a good PR for me to work on with Wenjuan. It can be informative for writing up the `CONTRIBUTING.md` document with the "how-to" for the packaging process for sub-modules.

[2019-07-04 21:55] mathematicalmichael opened #342 "TODO: Fix probabilities typos"
"probablities" shows up in a ton of places.
I'd like to submit a PR fixing just this once #340 is accepted.

Find misspellings in `BET/`:

`grep -rni 'probabli'`

Replace:

`sed` (something to act recursively on all files???) `s/probablities/probabilities/g`

@smattis sound good?

[2019-07-05 02:03] mathematicalmichael commented on #342
add to list: `smaples` and `assoicated`

[2019-07-08 22:44] eecsu commented on #341
Excellent idea. Yes, you should setup a time to work with her when she returns.

[2019-07-09 18:14] mathematicalmichael opened #343 "TODO: discretization.query"
Check out line 1072 in `sample.py`... this appears to be a situation where a function was never finished. Not entirely sure what this means, since a discretization holds three different sample sets, so this could be querying any one of them.

It's a null-function. What was this function supposed to do? Should we remove it?
I already have functions coming down the pipeline that make getting input/o

[2019-07-14 20:48] mathematicalmichael commented on #318
@smattis could use clarification on this still.

[2019-07-14 20:54] mathematicalmichael commented on #333
@smattis I'm still getting unbelievably unstable behavior with parallel saving/loading (seemingly different results every time I try), and it's making debugging build errors in parallel very difficult.

For example, I can never get the `adaptiveSampling` tests to pass locally on any of my dev machines/environments but they always pass in Travis, but simultaneously Travis will have parallel tests b

[2019-07-16 22:07] mathematicalmichael commented on #333
looking into loading parallel sample sets.
discovered `bet.Comm.comm.scatter` was being invoked in `sample.py` line 214 and led to the following stack trace:
[code]

[2019-07-16 22:37] mathematicalmichael opened #344 "TODO: fix parallel loading of sample sets"
related to #333 and perhaps others.

I think I found the source of the bug... line 140 in `sample.py`:
[code]
Probably should be `proc0_{}`
I'm still mid-investigation, but I wanted to put this down here.

[2019-07-16 22:39] mathematicalmichael commented on #344
However, while that does trigger the conditional statement, the parallel loading fails because the number of processors no longer matches the number of items found by `glob`.

[code]

[2019-07-16 22:46] mathematicalmichael commented on #344
I believe the expected behavior (correct me if I'm wrong) is that if I send off work to multiple processors and save at the end, it saves the chunks, then if I load them back in serial, rather than manually stitching the sample sets back together with `merge`, the conditional statement that is now being triggered should return a fully "merged" sample set that it got from loading from all the proce

[2019-07-16 23:05] mathematicalmichael commented on #344
and now that I've managed to sneak around the errors, I'm realizing that `load_sample_set_parallel` returns nothing. I think once I fix that we'll be good to go.

[2019-07-16 23:05] mathematicalmichael commented on #344
changes made: `append` instead of `extend` the list, return `loaded_sample_set`

[2019-07-16 23:11] mathematicalmichael commented on #344
[code]

[2019-07-16 23:25] mathematicalmichael commented on #344
vectors seem to load and merge appropriately but other properties do not.
for example,
`_dim` becomes `array(2)` instead of the original `2` ... seems like an easy fix.

then I have to go deal with the same version of this for discretizations as well. There are a few attributes I introduced that are not vectors that will need to be copied over (likely just save and inherit to/from the root worker)

[2019-07-16 23:47] mathematicalmichael commented on #344
I have to save a scipy.distribution object and I don't think that will quite work with the dictionary saving since it will only take strings/arrays.

I see that `new_mdat[sample_set_name + '_sample_set_type'] = str(type(save_set)).split("'")[1]` kind of handles this by just saving the string for re-use later on with loading. I think I'll have to do that with re-instantiating the distribution objec

[2019-07-17 01:01] mathematicalmichael commented on #344
So far it does not seem like the fix to the `proc` typo addressed #333 . Still failing for n>2

[2019-07-17 01:12] mathematicalmichael commented on #344
TODO: create an 'extract distribution information' function that plays nice with all the various distributions we may have to load/save. have had to re-use it twice already (serial and parallel loading of sample sets). Will need to again for predicted/observed in `_setup`, so it's worth making a function for it...
perhaps part of this is also a function that appropriately unpacks dictionary items

[2019-07-17 19:49] mathematicalmichael commented on #320
I figured out how to suppress it but I'm not sure if it is correct:

[code]

[2019-07-17 19:54] mathematicalmichael commented on #320
that led to failed parallel util tests because I changed the valid keys in the dictionary `possible_types`
I think instead we can just use

[code]

This seems to allow that test to pass

[2019-07-17 19:59] mathematicalmichael commented on #320
update: this change leads to just 1 error in parallel tests. but it's the same one that always gives me trouble with the HOT/COLD start mentioned in #333

[2019-07-17 22:06] mathematicalmichael commented on #320
fixed in https://github.com/mathematicalmichael/BET/pull/22
will be merging this into my master branch after #340 is merged, submit a new PR (#345) with that change (yes, it will decrease coverage but barely). @smattis

[2019-07-17 22:28] mathematicalmichael commented on #319
@smattis I don't see that the `gh-pages` branch has been updated at all. Where/how is github hosting the webpage from?? I've dug into the `Makefile` and I suppose my knowledge ends at Sphinx Docs, but from what I can tell, this is just a static-site generator based on docstrings.

From my understanding of how github pages works, it hosts the website from one of two places:
master branch and doc fo

[2019-07-19 17:22] mathematicalmichael opened #345 "revisit PendingDeprecationWarning"
Wenjuan will remove all functions that are untested in `postTools.py` that have pending deprecation notices written in their docstrings and which raise errors.
She will submit a PR in the coming days.

[2019-07-19 17:23] mathematicalmichael commented on #345
@User-zwj

[2019-07-24 15:31] mathematicalmichael commented on #336
@lcgraham do you have any thoughts on this?

[2019-07-24 15:32] mathematicalmichael commented on #320
will do this after #347 is merged.

[2019-07-26 23:05] User-zwj opened #348 "Some thoughts of postTools"
1. Line 146: indices is not defined if sort is False. My guess is that 'if descending' might be within 'if sort'

2. Line 139: it seems to me that 'if descending' should return sample by the descending order of the probability. But when I checked the code of the function 'sort_by_rho',
Line 59: indices = np.argsort(P_samples)[::-1][0:nnz]
[::-1] will make it return the indices in descending order.

[2019-07-27 01:36] mathematicalmichael commented on #348
Try getting rid of the line and seeing if all the tests still pass?

[2019-07-29 02:32] User-zwj commented on #348
I reread the comment in the function, here is my idea.
1. I think there is no need to put 'sort' variable in the function of sample_prob. Because we always need to sort the samples in order to get highest/lowest probability samples.
2. 'descending' is like an indicator to show we want highest probability samples or lowest probability samples. descending = True, we will get highest probability samp

[2019-07-29 14:24] mathematicalmichael commented on #348
looking at it more closely now... yeah, I see what you mean. If `sort=False` ... The function tries to return a variable that is undefined.

Looking at the docstring, I see that indices is actually supposed to be passed to the function.

My guess, and @eecsu can weigh in, is that this was simply omitted accidentally, and that `indices=None` is _supposed_ to be in the function definition, with a li

[2019-07-29 14:27] mathematicalmichael commented on #348
Alternative: add functionality by allowing sorting on a subset of indices, but in that case we'll need to trim the sample set before passing to `sort_by_rho` and return that as `sample_set_out`. This may have been part of the intention for defining `indices` in the docstring. That change would require an `else` statement after `if sort` on 127 as well.

[2019-07-29 16:22] mathematicalmichael opened #349 "TODO: Feature Scaling"
We currently have a scale features method, which performs normalization. I would like to propose we add the option to scale our data to normal (standardization), and then have wrapper functions that line up with the common language.

Scale/unscale would work the same as they do now with the default syntax.

[2019-08-02 15:59] #342 closed

[2019-08-04 19:41] mathematicalmichael commented on #333
I've merged @lcgraham's master branch, resolved conflicts, then tinkered for hours.
Good news is that I have `-n 3` working now. Bad news is that our tests still don't pass for `-n 4`
but .... that error is a new one... not in adaptive sampling.

[code]

that seems fixable...

then once that is fixed, I need to see if tests still pass when I enforce lines 182-186 in `test_adaptive_samping`

[2019-08-04 20:58] mathematicalmichael commented on #333
4 seems to fail because that particular test has `num = 3`, so that now makes sense...

It is the rectangle set that is causing this. This caps our tests at 3 processors.

I've extended the test to handle a user-specified maximum number of processors. I'm choosing 8.
The rectangles will be generated on the diagonal, there will be exactly one per processor.
Nearest-neighbor test (query) will query

[2019-08-04 21:09] mathematicalmichael commented on #333
had to fix ball sample set as well as rectangle. now both work for n>4

[2019-08-04 21:43] mathematicalmichael commented on #333
`test_sample` now passes up to 8 processors with the settings I put in. Seems like this limit can be made as high as desired by tweaking `self.nprocs`, which I added to the cartesian/ball/rectangle sample set tests. having merged #289 into a dev branch of my own, I'm getting closer to fixing this...

[2019-09-05 15:34] mathematicalmichael opened #356 "How we do installs"
Currently we are doing `python setup.py install` as per our README.

I propose we change this to `pip install .` since this will ACTUALLY downgrade packages that we version-lock. This explains a number of things, namely the issues involved in trying to debug any of #335 #355 #333, which were all in some way heavily dependent on `scipy==1.2.1.` version lock introduced in #337, and is related to the

[2019-09-05 15:45] mathematicalmichael commented on #349
@User-zwj this could be a straight-forward feature for you to add. Thoughts?

[2019-09-05 15:47] #322 closed

[2019-09-05 15:47] mathematicalmichael commented on #356
a PR to address this would include changes to
- `README.md`
- `.travis.yml`

[2019-09-05 15:50] mathematicalmichael commented on #335
better search:
using `ripgrep` from `BET`, already acts recursively, prints line numbers, and is technically faster

[code]

[2019-09-05 15:50] #335 closed

[2019-09-05 15:52] mathematicalmichael commented on #333
addressed by https://github.com/UT-CHG/BET/pull/355, closing now

[2019-09-05 15:52] #333 closed

[2019-09-05 15:53] mathematicalmichael commented on #344
addressed by https://github.com/UT-CHG/BET/pull/355, closing now

[2019-09-05 15:53] #344 closed

[2019-09-05 15:56] mathematicalmichael commented on #336
@smattis do you think this is worth trying out? more features, better maintenance (active community relative to what we depend on now, which is stale).

`adaptiveSampling` as mentioned in the original issue description has been fixed in #355, ignore that part, but ruling out `pyDOE` as the root of the error is what led me to stumble upon `pyDOE2`

[2019-09-05 15:56] #320 closed

[2019-09-05 15:57] mathematicalmichael commented on #319
I documented this in #352

[2019-09-05 15:57] #319 closed

[2019-09-05 16:04] mathematicalmichael commented on #318
it does appear from a cursory overview that `global_to_local` is simply called every time some global attribute is set within a function. I suppose this is intentional (some corner cases where it is not desired is why it doesn't just come up at the end of `set_probabilities` or `set_values`, etc.

What _is_ such a corner case? Is there a reason we don't always localize when setting the global ones

[2019-09-05 16:08] mathematicalmichael opened #357 "TODO: un-lock scipy"
we need to get to the bottom of what the problem is in `scipy==1.3.1` ...

Using [`ripgrep`](https://github.com/BurntSushi/ripgrep), run `rg scipy`, pass `-C 2` for context around regex matches (or `-B` for before, `-A` for after).

I would call this relatively high priority (despite many common projects version-locking `scipy`), and will put in a bit of time on it myself.

The goal would obviousl

[2019-09-05 17:06] mathematicalmichael commented on #357
bash script I'm using for debugging. Since it has been very helpful, I will paste it here for posterity:
[code]

[2019-09-06 17:26] mathematicalmichael opened #358 "TODO: clean up some tests"
there are some final touch-ups for #355

- [ ] `test/test_calculateP/test_calculateP.py`:273. do some linting.

- [ ] `test/test_sampling/test_adaptiveSampling.py`:241. do some linting

[2019-09-24 22:08] mathematicalmichael opened #360 "why no pickle?"
Minimal working example:
[code]

Is there any problem with saving/loading like this?

[2019-10-23 13:17] mathematicalmichael opened #361 "discussion of decorators"
https://stackoverflow.com/questions/12179271/meaning-of-classmethod-and-staticmethod-for-beginner

Could we leverage these (particularly when we drop Python 2 support soon) in any way that may be beneficial?

[2019-11-02 01:33] mathematicalmichael opened #362 "sampler class options"
User should be able to specify `.random_sample_set('g', ...)` to generate samples from a normal distribution instead of the uniform currently assumed by the default option `'r'`.

Additionally, specifying `'r'` or `'reg'` should also use the new `.set_distribution` method for sample sets to store the `scipy.stats.distribution.uniform`.

[2019-11-02 01:34] mathematicalmichael commented on #362
(`g` for gaussian), or perhaps `n` for normal?

[2019-11-02 01:53] mathematicalmichael opened #363 "document when predicted distribution is erased"
the current default mode (for backwards compatibility) is distribution-inversion (`._setup[iteration]['col'] = False`), `col` for `collapse` (QoI), which does not impose any relationship between observed/predicted.
Therefore, predicted should only be "erased" (set to `None`) if we're in data driven mode, with a warning thrown to the logger. If not in data-driven mode, do not raise any warning.

[2019-11-03 00:06] mathematicalmichael opened #364 "nose deprecation"
nose is no longer being maintained.

https://nose.readthedocs.io/en/latest/

@smattis what do you think about switching? I don't have any real experience with any of the mentioned alternatives.

http://doc.pytest.org/en/latest/nose.html

[2019-11-03 00:16] mathematicalmichael commented on #364
`pytest`

[code]

Not bad for an initial pass... 2 failed. seemingly both in `util.py`

Those deprecation warnings are also something to address... will track in another issue for them

[2019-11-03 00:42] mathematicalmichael commented on #364
`mpirun -n 2 pytest`

[code]

[2019-11-03 01:02] mathematicalmichael commented on #364
watching them manually... looks like `plotDomains` fails

[2019-11-03 01:35] mathematicalmichael commented on #364
oh nonono... lots fails in parallel... seemingly.
[code]

[2019-11-03 05:56] mathematicalmichael commented on #357
I figured out what broke our implementation. @smattis

I tracked it to `scipy.io.loadmat` , and went about building `scipy` from source checking out commits one at a time that impacted this directory.

here is the list of "suspects":
https://github.com/scipy/scipy/commits/v1.3.0/scipy/io/matlab

This is the last one we pass on:
https://github.com/scipy/scipy/commit/a2546b91faf0c74b5f51b048856f24dd

[2019-11-03 19:16] mathematicalmichael commented on #357
it appears that the behavior change is that files aren't left open,
the `with .. as ..` structure is used to ensure they get closed out asap.

for some reason this poses a problem for us?

[2019-11-22 01:03] smattis commented on #364
I agree that we should switch to py.test. I think this should be added for Version 3. I am not getting as many errors are you are with py.test initially.

[2019-11-22 01:04] smattis commented on #360
I agree that pickle would be more efficient and should move towards that for version 3.

[2019-11-22 01:09] smattis commented on #357
We should fix this for version 3. I suggest we move to pickle, which should take care of the problem

[2019-11-22 01:13] smattis commented on #336
I am open to use `pyDOE2`. We really only use the Latin hypercube sampling from `pyDOE` now.

[2019-11-22 01:19] smattis commented on #343
I will take care of this.

[2019-11-22 01:21] smattis commented on #356
Yes, we should do this. Also, we should looking into adding to the Python Package Index and conda forge for version 3.

[2019-11-22 01:27] smattis opened #365 "data-consistent methods"
Clean up and merge in @mathematicalmichael 's data-consistent methods for version 3.

[2019-11-22 01:42] smattis opened #366 "Deprecate adaptive sampling?"
We discussed deprecating adaptive sampling because it is causing big issues with tests passing and isn't playing well with new versions of `scipy`.  In the least, the hot starting capabilities could be deprecated because most of the i/o related to that is causing the problems. Also, it has not been actively used in a long time.

[2019-11-23 03:06] mathematicalmichael commented on #356
I have been practicing packaging new projects and CI pipelines. I'll be ready with templates very soon.

[2019-11-23 03:13] mathematicalmichael commented on #366
I dug into these issues a lot (threw observations into comments).
I think I figured out the source but don't know that I can fix it.

However, #360 may resolve it. if we move away from `mat` files, all the hotstart issues may be resolved from that.

[2019-11-23 03:15] mathematicalmichael commented on #365
- [ ] line up `dev` branch with master, then merge forked copy changes into there.

- [ ] docstrings

[2019-11-23 03:16] mathematicalmichael commented on #364
I think some of them may have been related to scipy.

I've been using `pytest` on another project and think it is well worth converting. We can also just skip tests related to `scipy.io` until the `mat` files are sorted out. That'll help

[2019-11-23 03:17] mathematicalmichael commented on #356
testing requirements will be stripped out and only installed for travis. running `pip install .` should not carry with it `pytest`

[2019-11-23 03:19] mathematicalmichael commented on #360
@smattis do you think you could handle the move to pickle or should I attempt it?

[2019-11-25 17:20] smattis commented on #364
That is a huge percentage of the tests. That's why I am for including the switch of testing framework in the v3 release, so all of those changes go into master at the same time. `nose` in its current form is going to be ok in the meantime.

[2019-11-25 17:20] smattis commented on #360
I probably have more time to commit to it.

[2019-11-25 22:03] smattis commented on #365
sounds good

[2019-11-26 17:12] mathematicalmichael commented on #364
okay, should we open up a `release` branch and develop (doing PRs to) there?

[2019-11-27 19:25] smattis commented on #364
Let's make a `dev-v3` branch and merge version 3 updates into that.

[2019-12-22 16:01] mathematicalmichael opened #368 "no mpi4py + mpirun for plotting"
this peculiar corner case happens to lead to failure of the `plotDomains` tests.
super low priority to fix, but `pip install .` does not handle `mpi4py` right now, and the test should skip but doesn't because _technically_ it detects one processor.

To solve, I think we can use the `__init__.py` files to flag down whether we are faking MPI or not, and use that as the skip condition instead of proc

[2019-12-22 17:31] mathematicalmichael commented on #360
I might have just done this as part of addressing SciPy upgrades... stay tuned.

[2019-12-22 17:40] mathematicalmichael commented on #360
Yes. I think I figured it out.
`sio.savemat` changed it's behavior to mimic that of `pickle` (a safer approach, closing out file buffers instead of keeping them open). What breaks in adaptiveSampling from upgrading `scipy` is exactly the same error that starts to get thrown once the change to pickle is implemented.

meaning, `pickle` + old `scipy` = same problem as no `pickle` + new `scipy`.

I'll

[2019-12-22 18:29] mathematicalmichael commented on #360
confirmed: everything in the library works except for adaptive sampling when I upgrade `spicy`. Simply skipping in parallel for now. It's actually _just_ the `hotstart=1` (incomplete run) that fails, so I'm simply removing that one from the test.

[2019-12-22 18:49] mathematicalmichael commented on #360
well, I got it to work without skipping. I don't have confidence in the hot start from partial run, the tests kind of looks incomplete for it, but ... whatever. better than skipping it altogether.

[2019-12-22 19:03] mathematicalmichael commented on #357
upgrading SciPy requires python 3.5
Python 2 is EOL very soon, so I'm going to charge ahead with removing 2.7 from Travis

[2019-12-29 16:28] mathematicalmichael commented on #360
update: I am now successfully running code from 2016-2017 using the new BET (with pickling).
Steps:
1. Run `2to3 -w *.py` in examples directory (I'm on @mpilosov 's fork of BET, on some dev branches corresponding to different experiments). Optionally `autopep8 -i *.py` for styling.

2. Get through a couple undocumented dependencies (`dolfin`, `pyprind`) of scripts that aren't part of BET. `conda/p

[2019-12-29 16:33] mathematicalmichael commented on #360
(PS that example takes up 1/3 GB).

[2019-12-30 18:05] smattis commented on #368
For which version of python is `pip install mpi4py` not working now? Was the the hosting server possibly just down?

[2020-01-04 20:16] mathematicalmichael commented on #368
I never said it wasnt working. Just that in the event that it was forgotten to be installed (it’s not part of our requirements, technically, it has to be manually added), plotting tests detect one processor and fail to pass.

Our travis CI only tests in serial after mpi4py is uninstalled at the end. I’m saying that if we added an mpirun test as the final line there, it wouldn’t work, not for any f

[2020-01-09 04:23] smattis commented on #365
Hey @mathematicalmichael. I'm sure you're really busy, but I was wondering if there is any progress on this front.

[2020-01-12 05:48] mathematicalmichael commented on #365
Yes! It’s in good shape now, got scipy upgraded, and changed to pickling files. tested extensively on both old and new code. Only changes i had to make in order to load old saved discretizations was sometimes stripping .mat file endings. Think it’s something we can code a check to fix, since extensions are meaningless anyway.

Ran parallel testing up to eight processors with all those changes abou

[2020-01-12 05:52] mathematicalmichael commented on #365
PS i have a bit of headway on this, but if we can use BET to improve existing classifier/clustering algorithms, I can definitely put work cycles towards development... seems like many problems fit into that class.

[2020-05-20 04:23] smattis opened #377 "May 19 Meeting"
- [ ]  Change compareP default for `normalize` to `False`
- [ ]  Change `output_probability_set` to `observed_output_set`
- [ ]  Fix computation of number of clusters.
- [ ]  Change `dataConsistent` to `calculateR`
- [ ] Do rejection sampling before fitting for rv (possibly do later).

[2020-05-29 00:56] eecsu commented on #377
Some notes on examples running the v3-dev branch of BET. Will create a separate example discussing documentation.

First, some general notes:

-[] I think we should rename files in the examples that are the actual ones running BET. Several of the example directories have multiple files, but the user should only be running one or two of them. I am thinking appending files with a `BET_` as a way to

[2020-05-29 01:08] eecsu commented on #377
This is about documentation.

- [ ] Running `make html` gives the following error

sphinx_rtd_theme is no longer a hard dependency since version 1.4.0. Please install it manually.(pip install sphinx_rtd_theme)
Makefile:45: recipe for target 'html' failed
make: *** [html] Error 2

  Of course, running the pip command it asks for fixes this, but maybe we should use a theme that is standard for sphin

[2020-06-01 04:22] smattis commented on #377
This warning is highly sensitive to your matplotlib version number. It doesn't seem to affect the output at all if `triangles` is set with newer versions, but with older ones it is required. I think we should keep it to be safe.

[2020-06-01 04:36] smattis commented on #377
Same as above.

[2020-06-01 05:06] smattis commented on #377
The rtd (Read the Docs) theme is very standard. I think they removed all of the themes from the sphinx build because of the overhead of having like 30 themes.

[2020-06-01 22:21] mathematicalmichael commented on #377
@eecsu just a reminder that `pip install .` will enforce version dependencies in ways that `python setup.py install` will not.

[2020-06-01 22:22] mathematicalmichael commented on #366
officially will be deprecated in v3.

[2020-06-01 22:23] mathematicalmichael commented on #360
pickle default in v3

[2020-06-01 22:23] mathematicalmichael commented on #357
fixed for v3 since scipy.io is replaced with pickle.

[2020-06-01 22:24] mathematicalmichael commented on #336
@smattis can we try to switch this out for v3?

[2020-06-01 22:24] smattis commented on #366
Can you not close these issues please. They will be closed automatically
when the big PR is merged!

On Mon, Jun 1, 2020 at 6:22 PM Michael Pilosov <notifications@github.com>
wrote:

[2020-06-01 22:25] mathematicalmichael commented on #362
in v3 these have changed to descriptive names cf: #376

[2020-06-01 23:13] eecsu commented on #377
I have matlpotlib version 3.0.2, which is pretty new.

I am wondering if the tricontourf calls in plotDomains.py where this occurs in the `show_data_domain_2D` function is causing this because the keyword argument occurs out of order? Basically, x and y data should be the first two arguments, which they are, but then the triangles argument is supposed to be the third argument from what I can tell

[2020-06-02 03:50] smattis commented on #336
We only use it for latin hypercube sampling and it is still working fine. If we were using more advanced features, then it may be worth the effort, but I don't see it at all as a priority.

[2020-06-02 05:42] smattis commented on #377
I added extra information in the Readme

[2020-06-02 05:44] smattis commented on #377
See https://github.com/CU-Denver-UQ/LUQ/issues/6

[2020-07-03 04:18] smattis opened #386 "Improve Fitting Random Variables"
Incorporate rejection sampling and fix support for all types of `scipy.stats.rv_continuous` objects.

[2020-07-08 21:45] #365 closed

[2020-07-08 21:45] #356 closed

[2020-07-08 21:45] #360 closed

[2020-07-08 21:45] #362 closed

[2020-07-08 21:45] #364 closed

[2020-07-08 21:45] #366 closed

[2020-07-08 21:45] #357 closed

[2020-07-11 18:06] mathematicalmichael opened #396 "Parallel Tests"
@smattis from what I see in the travis file, `mpirun -n 2 pytest` is how we're doing parallel tests.
However, I don't think Travis actually has real multicore. I'm not getting the tests to pass in parallel on my machine for n>2, is it working for you? Is it not supposed to?

[2020-07-11 18:12] smattis commented on #396
@mathematicalmichael They all just passed with n=4 on my laptop.

[2020-07-11 18:17] mathematicalmichael commented on #396
hmmm. thank you, that helps.
what's your base OS?

I'm running ubuntu focal and doing my testing in docker built on the same (meaning, my `apt/sources/lists.d` all point to the newest versions of `mpich` published in the PPAs.

[2020-07-11 18:27] smattis commented on #396
macOS Catalina with somewhat older mpich libraries. It worked with Xenial (with Travis) and Bionic (with Github Actions) during the CI testing.

From my experience, if the test pass in "parallel" on one core using multiple threads, which is what mpirun does if you give an n greater than the number of cores available, then they will pass on a multicore system.

What do the errors look like?

[2020-07-11 18:31] mathematicalmichael commented on #396
https://github.com/mathematicalmichael/BET/runs/861340623?check_suite_focus=true

my machine doesn't have multi-threading. straight up 8 cores.

[2020-07-11 18:36] mathematicalmichael commented on #396
relevant sections

[code]

[code]

and this, I don't think is actually failing, maybe capturing the F from the wrong stdout? I can't tell, but it looked "fail-like" as it was running (towards the top), before all the LUQ-related printouts.

[code]

[2020-07-11 18:37] smattis commented on #396
Ok. I see what is happening with a lot of this. Most of this is easy to fix. The testing of `useLUQ` can have a decorator added to only run in serial. It does not have parallel support.

[2020-07-11 18:37] mathematicalmichael commented on #396
ahhh.

[2020-07-11 18:39] smattis commented on #396
What you said is basically correct. It was running the exact same thing on each processor and the stdout got jumbled somehow. But really, no reason to run this in parallel.

[2020-07-11 18:43] mathematicalmichael commented on #396
(sorry I keep linking you to GH actions instead of Travis, but I'm finding it easier to trigger jobs with it on my fork than Travis is, though I think I've finally figured out why just from practicing with another tool).

also, I went wild with Travis once so I could figure out cross-platform testing: https://github.com/mathematicalmichael/spellfix/blob/master/.travis.yml let me know if you have a

[2020-07-11 18:45] mathematicalmichael commented on #396
is it possible to add a decorator to LUQ to also prevent all the printout/logging (maybe log to file instead) during testing? makes the stacktrace really painful to parse

[2020-07-11 18:46] smattis commented on #396
#397 should handle the useLUQ tests

[2020-07-11 18:47] smattis commented on #396
Already have an issue opened in LUQ regarding this https://github.com/CU-Denver-UQ/LUQ/issues/6. Will try to get to it soon.

[2020-07-11 18:49] #358 closed

[2020-07-11 18:50] mathematicalmichael commented on #327
welp, none of this is relevant anymore. workflow's been refactored.

[2020-07-11 18:50] #327 closed

[2020-07-11 18:50] mathematicalmichael commented on #332
examples have been removed in `master` through #382

[2020-07-11 18:50] #332 closed

[2020-07-11 18:51] #361 closed

[2020-07-11 18:52] #318 closed

[2020-07-11 18:52] #325 closed

[2020-07-11 18:52] mathematicalmichael commented on #343
did this get handled in v3? I lost track.

[2020-07-11 19:06] smattis commented on #396
@mathematicalmichael Update and try with n=4 again.

[2020-07-11 19:16] mathematicalmichael commented on #396
- [ ] `n=2`

- [ ] `n=3`

- [ ] `n=4`

- [ ] `n=5`

- [ ] `n=6`

- [ ] `n=7`

- [ ] `n=8`

[2020-07-11 19:22] mathematicalmichael commented on #396
`n=8` failed, rest were good.

[code]

[2020-07-11 19:26] mathematicalmichael commented on #396
hold the phone. https://github.com/mathematicalmichael/BET/runs/861417896?check_suite_focus=true
I'm testing using the BET I built yesterday. probably should be more careful and re-build, despite the only thing changing being the test folder (which is mounted into the runtime env)

[2020-07-11 19:31] mathematicalmichael commented on #396
okay, freshly compiled on latest master and it looks like n=2 passes, so I'm re-running the action linked above (which errored in a way I hadn't seen before).

I just ran `n=2,3,4,8` fresh and can confirm same results as above. 8 still fails, the rest are fine.

[2020-07-11 23:55] smattis commented on #396
#398 should make these tests pass with any number of cores

[2020-07-12 00:08] mathematicalmichael commented on #396
all good!

[2020-07-12 00:08] #396 closed

[2020-11-18 17:09] yentyu opened #400 "New features for estimating observed and predicted distributions (other than KDE)"
@eecsu @smattis
We would like to add different options for how the observed and predicted distributions are estimated (i.e., with Bayesian GMM) when calculating R in the data-consistent framework. In order to accomplish this in a fashion which allows for future development, I've come up with an outline of how these features can be added to the code in a smooth and consistent way. @eecsu and I just

[2020-11-20 18:52] smattis commented on #400
Hey @yentyu. Thanks for proposing this. I totally agree that this change that you are proposing is the best way to do things. @eecsu and I had discussions about this back in the summer. I hardcoded the method of using KDEs on the full space to calculate the ratios, because that was the main way that we were doing it in our work. I agree that it should instead be done using `evaluate_pdf` and shoul

[2020-11-20 18:58] smattis commented on #400
Step 1:
I don't think we want to fully remove the ability to have the probability described as a product of marginals, where each marginal is a kde. This especially may be useful in problems with high-dimensional parameter spaces. Perhaps that this could be renamed `kde_marginals`.

I totally agree that we should have a proper kde representation to go along with that.

[2020-11-20 19:02] smattis commented on #400
Step 2:
Yes, this should be done. I think I am mostly in agreement with the way you want to implement this. We also want to keep the ability to do a GMM, where the mixture is based on Gaussians coming from the different clusters (which is how `gmm` is being used now.)

[2020-11-20 19:05] smattis commented on #400
Step 3:

Seeing your comment, this is actually a bug that I did not catch as I was modifying the way the `invert_*` methods worked. You could write a PR to fix that now. I agree that once `generate_densities` is created, that all of the invert methods should be changed as you say.